# --------------------------
# GitHub .gitignore Template
# --------------------------

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

# -------------------------
# isaac-racing-server stuff
# -------------------------

# Contains secrets
.env

# Constantly changes
latest_client_version.txt

# Directories
logs
backups

# The compiled binary
isaac-racing-server

# Helper scripts
database_shell.sh
make_database_dump.sh
