{{define "content"}}
<!-- Main -->
<section id="main" class="container">
	<header>
		<h2>Download</h2>
		<p>Get your hands on the mod</p>
	</header>
	<section class="box">
		<div class="row">
			<div class="6u 12u">
				<a href="https://github.com/Zamiell/isaac-racing-client/releases/latest" class="button fit"><i class="fa fa-windows" aria-hidden="true"></i> &nbsp; Download for Windows</a>
			</div>
			<div class="6u 12u">
				<a href="#" class="button fit disabled"><i class="fa fa-apple" aria-hidden="true"></i> &nbsp; Download for OS X (coming soon)</a>
			</div>
		</div>

		<hr />

		<h3>Version Details</h3>
		<ul>
			<li>Current version: <strong>?</strong></li>
			<li>Released: <strong>?</strong></li>
		</ul>
	</section>
</section>
{{end}}
