{{define "content"}}
<!-- Main -->
<section id="main" class="container">
	<header>
		<h2>Info &amp; Contact</h2>
		<p>Your questions answered</p>
	</header>
	<div class="row">
		<div class="12u">

			<section class="box">
				<h2>Discord</h2>
				<p><a href="https://discordapp.com/">Discord</a> is a voice and text chat application that is the primary hub of communication for Isaac racing and speedrunning.</p>
				<a href="https://discord.gg/JzbhWQb" class="button small">Join the Isaac racing Discord server</a>
			</section>

			<section class="box">
				<h2>Contact Staff</h2>
				<p>Staff can be contacted via private message on the Isaac racing Discord server.</p>
				<ul>
					<li><strong>Zamiel</strong> &mdash; Lead Programmer &amp; Admin</li>
				</ul>
			</section>

			<section class="box">
				<h2>Frequently Asked Questions (FAQ)</h2>

				<div style="height: 1em;"></div><!-- Spacing -->
				<h3>When will it be fully integrated with Afterbirth+?</h3>
				<p>I am working hard on it, and it will be released when it is finished.</p>

				<div style="height: 1em;"></div><!-- Spacing -->
				<h3>Are there any keyboard hotkeys?</h3>
				<p class="margin-half">
					Yes! A letter or number in parenthesis next to a button means that you can use that key to activate it.<br />
					Furthermore, the following hotkeys exist:
				</p>
				<ul>
					<li><code>Alt + 1</code> &mdash; Focus the Isaac game window <strong>(G)</strong>.</li>
					<li><code>Alt + 2</code> &mdash; Focus the Racing+ window <strong>(G)</strong>.</li>
					<li><code>Alt + E</code> &mdash; Create a new race.</li>
					<li><code>Alt + S</code> &mdash; Open the settings window.</li>
					<li><code>Alt + R</code> &mdash; Mark your status as "ready" <strong>(G)</strong>.</li>
					<li><code>Alt + Q</code> &mdash; Quit the current race <strong>(G)</strong>.</li>
					<li><code>Alt + L</code> &mdash; Return to the lobby.</li>
				</ul>
				<p>A <strong>(G)</strong> indicates a global hotkey &mdash; you can use global hotkeys even when Racing+ is not the active program.</p>

				<div style="height: 1em;"></div><!-- Spacing -->
				<h3>What is the difference between ranked and unranked? What are seasons?</h3>
				<ul>
					<li>In ranked play, unseeded races will count towards your average time and seeded races will count towards your TrueSkill rating. Both of these are tracked on separate leaderboards.</li>
					<li>To keep things fresh, the leaderboards will be reset after 3 months. This 3 month long period is called a "season". The ruleset will stay the same for the entire season.</li>
					<li>Season 1 is tentatively set to end on April 1st.</li>
					<li>Future seasons may have different rules than what is in place for season 1. This will help to keep Isaac racing fresh! You can discuss the kinds of rulesets that you want for subsequent seasons in the Isaac racing Discord server.</li>
				</ul>

				<div style="height: 1em;"></div><!-- Spacing -->
				<h3>My favorite emote doesn't work in the chat. Can you add it?</h3>
				<p class="margin-half">
					Yes. Send it to me on Discord.
				</p>
			</section>

			<section class="box">
				<h2>Shoutouts</h2>
				<p>The following people deserve special recognition. Contributors are listed in chronological order.</p>
				<ul>
					<li><a href="https://www.twitch.tv/Gromfalloon">Gromfalloon</a> &mdash; The excellent artist who designed the artwork for the Racing+ logo.</li>
					<li><a href="https://www.twitch.tv/SedNegi">SedNegi</a> &mdash; A speedrunner who helped translate the text to French and provide voice acting.</li>
					<li><a href="https://www.twitch.tv/birdie0">Birdie0</a> &mdash; A speedrunner who helped with bug reporting.</li>
					<li><a href="https://www.twitch.tv/Lobsterosity">Lobsterosity</a> &mdash; A speedrunner who helped with bug reporting.</li>
					<li><a href="https://www.twitch.tv/sillypears">sillypears</a> &mdash; A speedrunner who helped with bug reporting.</li>
					<li><a href="https://www.twitch.tv/thisguyisbarry">thisguyisbarry</a> &mdash; A speedrunner who helped with bug reporting.</li>
					<li><a href="https://www.twitch.tv/Nariom">Nariom</a> &mdash; A speedrunner who helped with bug reporting.</li>
					<li><a href="https://www.twitch.tv/MasterofPotato">MasterofPotato</a> &mdash; A speedrunner who helped with bug reporting.</li>
				</ul>
			</section>

		</div>
	</div>

</section>
{{end}}
