{{define "content"}}
<!-- Main -->
<section id="main" class="container">
	<header>
		<h2>Info &amp; Contact</h2>
		<p>Your questions answered</p>
	</header>
	<div class="row">
		<div class="12u">

			<section class="box">
				<h2>Discord</h2>
				<p><a href="https://discordapp.com/">Discord</a> is a voice and text chat application that is the primary hub of communication for Isaac racing and speedrunning.</p>
				<a href="https://discord.gg/JzbhWQb" class="button small">Join the Isaac racing Discord server</a>
			</section>

			<section class="box">
				<h2>Contact Staff</h2>
				<p>Staff can be contacted via private message on the Isaac racing Discord server.</p>
				<ul>
					<li><strong>Zamiel</strong> &mdash; Lead Programmer and Admin</li>
				</ul>
			</section>

			<section class="box">
				<h2>Frequently Asked Questions (FAQ)</h2>

				<div style="height: 1em;"></div><!-- Spacing -->
				<h3>Are there any keyboard hotkeys?</h3>
				<p class="margin-half">
					Yes! A letter or number in parenthesis next to a button means that you can use that key to activate it.<br />
					Furthermore, the following hotkeys exist:
				</p>
				<ul>
					<li><code>Alt + 1</code> &mdash; Focus the Isaac game window <strong>(G)</strong>.</li>
					<li><code>Alt + 2</code> &mdash; Focus the Racing+ window <strong>(G)</strong>.</li>
					<li><code>Alt + E</code> &mdash; Create a new race.</li>
					<li><code>Alt + S</code> &mdash; Open the settings window.</li>
					<li><code>Alt + R</code> &mdash; Mark your status as "ready" <strong>(G)</strong>.</li>
					<li><code>Alt + Q</code> &mdash; Quit the current race <strong>(G)</strong>.</li>
					<li><code>Alt + L</code> &mdash; Return to the lobby.</li>
				</ul>
				<p>A <strong>(G)</strong> indicates a global hotkey &mdash; you can use global hotkeys even when Racing+ is not the active program.</p>

				<div style="height: 1em;"></div><!-- Spacing -->
				<h3>When will it be fully integrated with Afterbirth+?</h3>
				<p>We are working hard on it, and it will be released when it is finished.</p>
			</section>

			<section class="box">
				<h2>Shoutouts</h2>
				<p>The following people deserve special recognition:</p>
				<ul>
					<li><a href="https://www.twitch.tv/Gromfalloon">Gromfalloon</a> &mdash; The excellent artist who designed the artwork for the Racing+ logo.</li>
					<li><a href="https://www.twitch.tv/SedNegi">SedNegi</a> &mdash; A speedrunner who helped translate the text to French.</li>
				</ul>
			</section>

		</div>
	</div>

</section>
{{end}}
