{{define "content"}}
<!-- Main -->
<section id="main" class="container">
	<header>
		<h2>Info &amp; Contact</h2>
		<p>Your questions answered</p>
	</header>
	<div class="row">
		<div class="12u">

			<section class="box">
				<h3>Discord</h3>
				<p><a href="https://discordapp.com/">Discord</a> is a voice and text chat application that is the primary hub of communication for Isaac racing and speedrunning.</p>
				<a href="https://discord.gg/JzbhWQb" class="button small">Join the Isaac racing Discord server</a>
			</section>

			<section class="box">
				<h3>Contact Staff</h3>
				<p>Staff can be contacted via private message on the Isaac racing Discord server.</p>
				<ul>
					<li><strong>Zamiel</strong> &mdash; Lead Programmer and Admin</li>
				</ul>
			</section>

			<section class="box">
				<h3>Frequently Asked Questions (FAQ)</h3>
				<p>Coming soon...</p>
			</section>

			<section class="box">
				<h3>Shoutouts</h3>
				<p>The following people deserve special recognition:</p>
				<ul>
					<li><strong>Gromfalloon</strong> &mdash; He designed the artwork for the Racing+ logo.</li>
				</ul>
			</section>

		</div>
	</div>

</section>
{{end}}
