{{define "content"}}
<!-- Main -->
<section id="main" class="container">
	<header>
		<h2>News</h2>
		<p>Recent changes and updates</p>
	</header>
	<div class="row">
		<div class="12u">

			<section class="box">
				<h3>Saturday, ??? 1st</h3>
				<p>Racing+ has entered open beta. Welcome! I'm working on getting everything as perfect as possible; please report any bugs or things that you would like changed.</p>
			</section>

		</div>
	</div>

</section>
{{end}}
