{{define "content"}}
<!-- Main -->
<section id="main" class="container">
	<header>
		<h2>Player Profiles</h2>
		<p>Your fellow racers</p>
	</header>
	<section class="box">
		<p>(This page is just a placeholder for now.)</p>

		<div class="table-wrapper">
			<table class="alt">
				<thead>
					<tr>
						<th>Name</th>
						<th>Joined</th>
						<th>Achievements</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Zamiel</td>
						<td>07/16/16</td>
						<td>5</td>
					</tr>
					<tr>
						<td>Dea1h</td>
						<td>07/16/16</td>
						<td>7</td>
					</tr>
				</tbody>
			</table>
		</div>
	</section>

</section>
{{end}}
