{{define "content"}}
<!-- Main -->
<section id="main" class="container">
	<header>
		<h2>Player Profiles</h2>
		<p>Your fellow racers</p>
	</header>
	<section class="box">
		<div class="table-wrapper">
			<table class="alt" id="profiles">
				<thead>
					<tr>
						<th>Name</th>
						<th>Joined</th>
						<th>Achievements</th>
					</tr>
				</thead>
				<tbody>
					{{ range .Results }}
						<tr>
							<td><a href="profile\{{.Username}}"> {{ .Username }} </a></td>
							<td id="date"> {{ .DateCreated }}</td>
							<td> {{ .Achievements }} </td>
						</tr>
					{{ end }}
				</tbody>
			</table>
		</div>
	</section>

</section>
{{end}}
