{{define "content"}}
<!-- Main -->
<section id="main" class="container">
	<header>
		<h2>Race Listing</h2>
		<p>The latest results</p>
	</header>

	<div id="race-listing-buttons" class="row">
		<div class="3u 12u">
			<a href="#" class="button fit">&lt;&lt;</a>
		</div>
		<div class="3u 12u">
			<a href="#" class="button fit">&lt;</a>
		</div>
		<div class="3u 12u">
			<a href="#" class="button fit">&gt;</a>
		</div>
		<div class="3u 12u">
			<a href="#" class="button fit">&gt;&gt;</a>
		</div>
	</div>
	<br />

	<section class="box">
		<div class="table-wrapper">
			<table id="race-listing-table">
				<thead>
					<tr>
						<th>ID</th>
						<th>Date &amp; Time</th>
						<th>Ruleset</th>
						<th>Place</th>
						<th>Name</th>
						<th>Time</th>
						<th>Comment</th>
					</tr>
				</thead>
				<tbody>

					<tr>
						<td rowspan=3>499</td>
						<td rowspan=3>Monday, July 25th, 2016 23:10 (EST)</td>
						<td rowspan=3>Seeded</td>
						<td>1</td>
						<td>Zamiel</td>
						<td>13:00</td>
						<td>bad asdf  i got a sweet build gupper incubus and lots of familiars and wow all the transformations asdkfhjga asdfhgjasdkfhg adskhfjdddddddddg akhsjdfgdd all the</td>
					</tr>
					<tr class="participants-list">
						<td>2</td>
						<td>Dea1h</td>
						<td>13:05</td>
						<td>good</td>
					</tr>
					<tr class="participants-list">
						<td>3</td>
						<td>Cyber_1</td>
						<td>13:06</td>
						<td>damn</td>
					</tr>

					<tr>
						<td rowspan=3>498</td>
						<td rowspan=3>Monday, July 24th, 2016 23:10 (EST)</td>
						<td rowspan=3>Unseeded</td>
						<td>1</td>
						<td>Zamiel</td>
						<td>13:00</td>
						<td>bad</td>
					</tr>
					<tr>
						<td>2</td>
						<td>Dea1h</td>
						<td>13:05</td>
						<td>good</td>
					</tr>
					<tr>
						<td>3</td>
						<td>Cyber_1</td>
						<td>13:06</td>
						<td>damn</td>
					</tr>

					<tr>
						<td rowspan=3>497</td>
						<td rowspan=3>Monday, July 25th, 2016 23:10 (EST)</td>
						<td rowspan=3>Seeded</td>
						<td>1</td>
						<td>Zamiel</td>
						<td>13:00</td>
						<td>bad  i got a sweet build gupper incubus and lots of familiars and wow all the transformations asdkfhjga asdfhgjasdkfhg  akhsjdfgdd all the</td>
					</tr>
					<tr>
						<td>2</td>
						<td>Dea1h</td>
						<td>13:05</td>
						<td>good</td>
					</tr>
					<tr>
						<td>3</td>
						<td>Cyber_1</td>
						<td>13:06</td>
						<td>damn</td>
					</tr>

				</tbody>
			</table>
		</div>
	</section>
</section>
{{end}}
