{{define "content"}}
<!-- Main -->
<section id="main" class="container">
	<header>
		<h2>Race Listing</h2>
		<p>The latest completed races</p>
	</header>

	<div id="race-listing-buttons" class="row">
		{{ if ge .PreviousPage 1 -}}						
			<div class="3u 12u">
				<a href="../races" class="button fit">&lt;&lt;</a>
			</div>
			<div class="3u 12u">
				<a href="../races/{{ .PreviousPage }}" class="button fit">&lt;</a>
			</div>
		{{- else }}
			<div class="3u 12u">
				&nbsp;
			</div>
			<div class="3u 12u">
				&nbsp;
			</div>
		{{- end }}
		{{ if le .NextPage .TotalPages }}
			<div class="3u 12u">
				<a href="../races/{{ .NextPage }}" class="button fit">&gt;</a>
			</div>
			<div class="3u 12u">
				<a href="../races/{{ .TotalPages }}" class="button fit">&gt;&gt;</a>
			</div>
		{{- else }}
			<div class="3u 12u">
				&nbsp;
			</div>
			<div class="3u 12u">
				&nbsp;
			</div>				
		{{- end }}

	</div>
	<br />

	<section class="box">
		<div class="table-wrapper">
			<table id="race-listing-table">
				<thead>
					<tr>
						<th>ID</th>
						<th>Date &amp; Time</th>
						<th>Ruleset</th>
						<th>Format</th>
						<th>Character</th>
						<th>Goal</th>
						<th>Racer</th>
						<th>Place</th>
						<th>Time</th>
						<th>Comment</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<td colspan="100%">
							Total Races: {{ .TotalRaceCount }}
						</td>
					</tr>
				</tfoot>
				<tbody>
				{{ range .Results }}
					<tr>
						{{ $racers := len .RaceParticipants }}
							<td rowspan="{{ $racers }}">{{ .RaceID }}</td>
							<td id="date" rowspan="{{ $racers }}"> {{ .RaceDate }}</td>
							<td rowspan="{{ $racers }}">{{ .RaceType }}</td>
							<td rowspan="{{ $racers }}">{{ .RaceFormat }}</td>
							<td rowspan="{{ $racers }}">{{ .RaceChar }}</td>
							<td rowspan="{{ $racers }}">{{ .RaceGoal }}</td>
						{{ range $index, $results := .RaceParticipants }}
							<td>
								<a href="../profile/{{ .RacerName }}">{{ .RacerName }}</a>
							</td>
							{{ if eq .RacerPlace -1 -}}
							<td>Forfeit<td>
							<td>&nbsp;</td>
							{{- else}}
							<td>{{ .RacerPlace }}</td>
							<td>{{ .RacerTime }}</td>
							{{- end }}
							{{ if ne .RacerComment "-" -}}
							<td	title="{{ .RacerComment }}">
							Comment
							{{- else}}
							<td>&nbsp;
							{{ end }}
							</td>
						{{ end }}
					</tr>
					{{ end }}

				</tbody>
			</table>
		</div>
	</section>
</section>
{{end}}
