{{define "content"}}
<!-- Main -->
<section id="main" class="container">
	<header class="top">
		<h2>Download</h2>
		<p>Get your hands on the mod</p>
	</header>
	<section class="box">
		<h3>Step 1 - Get the Lua mod</h3>

		<div class="row">
			<div class="6u 12u">
				<a id="subscribe-button" href="http://steamcommunity.com/sharedfiles/filedetails/?id=857628390" target="_blank" class="button fit"><i class="fa fa-steam-square" aria-hidden="true"></i> &nbsp; Subscribe to the mod on the Steam Workshop</a>
			</div>
		</div>
		<ul>
			<li>Once on the Steam Workshop page for the mod, click on the <code>+ Subscribe</code> button.</li>
			<li>After you are subscribed, <strong>close Steam, reopen Steam, and then launch the the game</strong>. This will cause the mod to be automatically downloaded to your computer.</li>
			<li>If you just want to try out the mod, then you are done. If you want to race other people, proceed to step 2.</li>
		</ul>

		<hr />

		<h3>Step 2 - Download and install the desktop client</h3>

		<div class="row">
			<div class="6u 12u">
				<a id="download-button-windows" href="https://github.com/Zamiell/isaac-racing-client/releases" class="button fit"><i class="fa fa-windows" aria-hidden="true"></i> &nbsp; Download for Windows</a>
			</div>
			<div class="6u 12u">
				<a id="download-button-macos" href="https://github.com/Zamiell/isaac-racing-client/releases/download/v0.14.13/Racing.-0.14.13.dmg" class="button fit"><i class="fa fa-apple" aria-hidden="true"></i> &nbsp; Download for macOS</a>
			</div>
		</div>

		<hr />

		<h3>Version Details</h3>
		<ul>
			<li>Mod status: <strong style="color: green;">Beta</strong></li>
			<li>Current version: <strong id="version">?</strong></li>
			<li>Released: <strong id="released">?</strong></li>
		</ul>
	</section>
</section>
{{end}}
