{{define "content"}}
<!-- Main -->

<section id="main" class="container">
    <header class="top">
        <h2>Hall of Fame</h2>
        <p>The best of the past</p>
    </header>
    <form id="selectSeason" >
        <div class="12u">
            <div class="select-wrapper be-half">
                <select onchange="selectLeaderboard(this.value)" >
                    <option value="season1R9ab">R+9 Season 1 (Afterbirth+)</option>
                    <option value="season1R14AB">R+14 Season 1 (Afterbirth+)</option>
                    <option value="season2R7AB">R+7 Season 2 (Afterbirth+)</option>
                    <option value="season3R7AB">R+7 Season 3 (Afterbirth+)</option>
                    <option value="season4R7AB">R+7 Season 4 (Afterbirth+)</option>
                    <option value="season5R7AB">R+7 Season 5 (Afterbirth+)</option>
                    <option value="season6R7AB">R+7 Season 6 (Afterbirth+)</option>
                    <option value="season7R7AB">R+7 Season 7 (Afterbirth+)</option>
                    <option value="season8R7AB">R+7 Season 8 (Afterbirth+)</option>
                    <option value="season9R7Rep">R+7 Season 1 (Repentance)</option>
                    <option value="season1RankedSolo">Ranked Solo Season 1 (Afterbirth+)</option>
                    <option value="season2RankedSolo">Ranked Solo Season 2 (Afterbirth+)</option>
                    <!--<option value="season3ranked">Ranked Solo Season 1 (Repentance)</option>-->
                </select>
            </div>
        </div>
    </form>

    <!-- Start of R+9 Season 1 (AB) -->
    <section id="hof-season1R9AB" class="box">
        <div class="table-wrapper">
        <table id="season1R9AB-table" class="alt lb tablesorter">
            <thead>
                <tr>
                    <th class="th-rank">Rank</th>
                    <th class="th-racer">Player</th>
                    <th class="th-time">Time</th>
                    <th class="th-date" data-sorter="false">Date</th>
                    <th class="th-proof" data-sorter="false">Video</th>
                </tr>
            </thead>
            <tbody>
            {{ range .Season1R9AB }}
                <tr>
                    <td class="td-rank"> {{ .Rank }} </td>
                    <td class="td-racer">{{ if ne .ProfileName "" }}<a href=/profile/{{ .ProfileName }}>{{ .Racer }}</a>{{ else }}{{ .Racer }}{{ end }}</td>
                    <td class="td-time">{{ .Time }}</td>
                    <td class="td-date">{{ .Date }}</td>
                    <td class="td-proof"><a href="{{ .Proof }}" target="_blank"><img height="16px" width="16px" src="public/img/{{ .Site }}.png" /></a></td>
                </tr>
            {{ end }}
            </tbody>
        </table>
        </div>
    </section>

    <!-- Start of R+14 Season 1 (AB) -->
    <section id="hof-season1R14AB" class="box">
        <div class="table-wrapper">
        <table id="season1R14AB-table" class="alt lb tablesorter">
            <thead>
                <tr>
                    <th class="th-rank">Rank</th>
                    <th class="th-racer">Player</th>
                    <th class="th-time">Time</th>
                    <th class="th-date" data-sorter="false">Date</th>
                    <th class="th-proof" data-sorter="false">Video</th>
                </tr>
            </thead>
            <tbody>
            {{ range .Season1R14AB }}
                <tr>
                    <td class="td-rank"> {{ .Rank }} </td>
                    <td class="td-racer">{{ if ne .ProfileName "" }}<a href=/profile/{{ .ProfileName }}>{{ .Racer }}</a>{{ else }}{{ .Racer }}{{ end }}</td>
                    <td class="td-time">{{ .Time }}</td>
                    <td class="td-date">{{ .Date }}</td>
                    <td class="td-proof"><a href="{{ .Proof }}" target="_blank"><img height="16px" width="16px" src="public/img/{{ .Site }}.png" /></a></td>
                </tr>
            {{ end }}
            </tbody>
        </table>
        </div>
    </section>

    <!-- Start of R+7 Season 2 (AB) -->
    <section id="hof-season2R7AB" class="box">
        <div class="table-wrapper">
        <table id="season2R7AB-table" class="alt lb tablesorter">
            <thead>
                <tr>
                    <th class="th-rank">Rank</th>
                    <th class="th-racer">Player</th>
                    <th class="th-time">Time</th>
                    <th class="th-date" data-sorter="false">Date</th>
                    <th class="th-proof" data-sorter="false">Video</th>
                </tr>
            </thead>
            <tbody>
            {{ range .Season2R7AB }}
                <tr>
                    <td class="td-rank"> {{ .Rank }} </td>
                    <td class="td-racer">{{ if ne .ProfileName "" }}<a href=/profile/{{ .ProfileName }}>{{ .Racer }}</a>{{ else }}{{ .Racer }}{{ end }}</td>
                    <td class="td-time">{{ .Time }}</td>
                    <td class="td-date">{{ .Date }}</td>
                    <td class="td-proof"><a href="{{ .Proof }}" target="_blank"><img height="16px" width="16px" src="public/img/{{ .Site }}.png" /></a></td>
                </tr>
            {{ end }}
            </tbody>
        </table>
        </div>
    </section>

    <!-- Start of R+7 Season 3 (AB) -->
    <section id="hof-season3R7AB" class="box">
        <div class="table-wrapper">
        <table id="season3R7AB-table" class="alt lb tablesorter">
            <thead>
                <tr>
                    <th class="th-rank">Rank</th>
                    <th class="th-racer">Player</th>
                    <th class="th-time">Time</th>
                    <th class="th-date" data-sorter="false">Date</th>
                    <th class="th-proof" data-sorter="false">Video</th>
                </tr>
            </thead>
            <tbody>
            {{ range .Season3R7AB }}
                <tr>
                    <td class="td-rank"> {{ .Rank }} </td>
                    <td class="td-racer"><a href=/profile/{{ .ProfileName }}>{{ .Racer }}</a></td>
                    <td class="td-time">{{ .Time }}</td>
                    <td class="td-date">{{ .Date }}</td>
                    <td class="td-proof"><a href="{{ .Proof }}" target="_blank"><img height="16px" width="16px" src="public/img/{{ .Site }}.png" /></a></td>
                </tr>
            {{ end }}
            </tbody>
        </table>
        </div>
    </section>

    <!-- Start of R+7 Season 4 (AB) -->
    <section id="hof-season4R7AB" class="box">
        <div class="table-wrapper">
        <table id="season4R7AB-table" class="alt lb tablesorter">
            <thead>
                <tr>
                    <th class="th-rank">Rank</th>
                    <th class="th-racer">Player</th>
                    <th class="th-time">Time</th>
                    <th class="th-date" data-sorter="false">Date</th>
                    <th class="th-proof" data-sorter="false">Video</th>
                </tr>
            </thead>
            <tbody>
            {{ range .Season4R7AB }}
                <tr>
                    <td class="td-rank"> {{ .Rank }} </td>
                    <td class="td-racer"><a href=/profile/{{ .ProfileName }}>{{ .Racer }}</a></td>
                    <td class="td-time">{{ .Time }}</td>
                    <td class="td-date">{{ .Date }}</td>
                    <td class="td-proof"><a href="{{ .Proof }}" target="_blank"><img height="16px"  src="public/img/{{ .Site }}.png" /></a></td>
                </tr>
            {{ end }}
            </tbody>
        </table>
        </div>
    </section>

    <!-- Start of R+7 Season 5 (AB) -->
    <section id="hof-season5R7AB" class="box">
        <div class="table-wrapper">
        <table id="season5R7AB-table" class="alt lb tablesorter">
            <thead>
                <tr>
                    <th class="th-rank">Rank</th>
                    <th class="th-racer">Player</th>
                    <th class="th-time">Time</th>
                    <th class="th-date" data-sorter="false">Date</th>
                    <th class="th-proof" data-sorter="false">Video</th>
                </tr>
            </thead>
            <tbody>
            {{ range .Season5R7AB }}
                <tr>
                    <td class="td-rank"> {{ .Rank }} </td>
                    <td class="td-racer"><a href=/profile/{{ .ProfileName }}>{{ .Racer }}</a></td>
                    <td class="td-time">{{ .Time }}</td>
                    <td class="td-date">{{ .Date }}</td>
                    <td class="td-proof"><a href="{{ .Proof }}" target="_blank"><img height="16px"  src="public/img/{{ .Site }}.png" /></a></td>
                </tr>
            {{ end }}
            </tbody>
        </table>
        </div>
    </section>

    <!-- Start of R+7 Season 6 (AB) -->
    <section id="hof-season6R7AB" class="box">
        <div class="table-wrapper">
        <table id="season6R7AB-table" class="alt lb tablesorter">
            <thead>
                <tr>
                    <th class="th-rank">Rank</th>
                    <th class="th-racer">Player</th>
                    <th class="th-time">Time</th>
                    <th class="th-date" data-sorter="false">Date</th>
                    <th class="th-proof" data-sorter="false">Video</th>
                </tr>
            </thead>
            <tbody>
            {{ range .Season6R7AB }}
                <tr>
                    <td class="td-rank"> {{ .Rank }} </td>
                    <td class="td-racer"><a href=/profile/{{ .ProfileName }}>{{ .Racer }}</a></td>
                    <td class="td-time">{{ .Time }}</td>
                    <td class="td-date">{{ .Date }}</td>
                    <td class="td-proof"><a href="{{ .Proof }}" target="_blank"><img height="16px"  src="public/img/{{ .Site }}.png" /></a></td>
                </tr>
            {{ end }}
            </tbody>
        </table>
        </div>
    </section>

    <!-- Start of R+7 Season 7 (AB) -->
    <section id="hof-season7R7AB" class="box">
        <div class="table-wrapper">
        <table id="season7R7AB-table" class="alt lb tablesorter">
            <thead>
                <tr>
                    <th class="th-rank">Rank</th>
                    <th class="th-racer">Player</th>
                    <th class="th-time">Time</th>
                    <th class="th-date" data-sorter="false">Date</th>
                    <th class="th-proof" data-sorter="false">Video</th>
                </tr>
            </thead>
            <tbody>
            {{ range .Season7R7AB }}
                <tr>
                    <td class="td-rank"> {{ .Rank }} </td>
                    <td class="td-racer"><a href=/profile/{{ .ProfileName }}>{{ .Racer }}</a></td>
                    <td class="td-time">{{ .Time }}</td>
                    <td class="td-date">{{ .Date }}</td>
                    <td class="td-proof"><a href="{{ .Proof }}" target="_blank"><img height="16px"  src="public/img/{{ .Site }}.png" /></a></td>
                </tr>
            {{ end }}
            </tbody>
        </table>
        </div>
    </section>

    <!-- Start of R+7 Season 8 (AB) -->
    <section id="hof-season8R7AB" class="box">
        <div class="table-wrapper">
        <table id="season8R7AB-table" class="alt lb tablesorter">
            <thead>
                <tr>
                    <th class="th-rank">Rank</th>
                    <th class="th-racer">Player</th>
                    <th class="th-time">Time</th>
                    <th class="th-date" data-sorter="false">Date</th>
                    <th class="th-proof" data-sorter="false">Video</th>
                </tr>
            </thead>
            <tbody>
            {{ range .Season8R7AB }}
                <tr>
                    <td class="td-rank"> {{ .Rank }} </td>
                    <td class="td-racer"><a href=/profile/{{ .ProfileName }}>{{ .Racer }}</a></td>
                    <td class="td-time">{{ .Time }}</td>
                    <td class="td-date">{{ .Date }}</td>
                    <td class="td-proof"><a href="{{ .Proof }}" target="_blank"><img height="16px"  src="public/img/{{ .Site }}.png" /></a></td>
                </tr>
            {{ end }}
            </tbody>
        </table>
        </div>
    </section>

    <!-- Start of R+7 Season 1 (Rep) -->
    <section id="hof-season1R7Rep" class="box">
        <div class="table-wrapper">
        <table id="season1R7Rep-table" class="alt lb tablesorter">
            <thead>
                <tr>
                    <th class="th-rank">Rank</th>
                    <th class="th-racer">Player</th>
                    <th class="th-time">Time</th>
                    <th class="th-date" data-sorter="false">Date</th>
                    <th class="th-proof" data-sorter="false">Video</th>
                </tr>
            </thead>
            <tbody>
            {{ range .Season1R7Rep }}
                <tr>
                    <td class="td-rank"> {{ .Rank }} </td>
                    <td class="td-racer"><a href=/profile/{{ .ProfileName }}>{{ .Racer }}</a></td>
                    <td class="td-time">{{ .Time }}</td>
                    <td class="td-date">{{ .Date }}</td>
                    <td class="td-proof"><a href="{{ .Proof }}" target="_blank"><img height="16px"  src="public/img/{{ .Site }}.png" /></a></td>
                </tr>
            {{ end }}
            </tbody>
        </table>
        </div>
    </section>

    <!-- Start of Ranked Solo Season 1 -->
    <section id="hof-season1RankedSolo" class="box">
        <div class="table-wrapper">
        <table id="season1RankedSolo-table" class="alt lb tablesorter">
            <thead>
                <tr>
                    <th class="th-rank">Rank</th>
                    <th class="th-racer">Player</th>
                    <th class="th-time">Adjusted Average</th>
                    <th class="th-time">Unadjusted Average</th>
                    <th class="th-time">Forfeit Penalty</th>
                    <th>Forfeit Rate</th>
                </tr>
            </thead>
            <tbody>
            {{ range .Season1RankedSolo }}
                <tr>
                    <td class="td-rank"> {{ .Rank }} </td>
                    <td class="td-racer"><a href=/profile/{{ .ProfileName }}>{{ .Racer }}</a></td>
                    <td class="td-time">{{ .AdjustedAverage }}</td>
                    <td class="td-time">{{ .UnadjustedAverage }}</td>
                    <td class="td-time">{{ .ForfeitPenalty }}</td>
                    <td class="td-forfeit-rate-50">{{ .NumForfeits }}</td>
                </tr>
            {{ end }}
            </tbody>
        </table>
        </div>
    </section>

    <!-- Start of Ranked Solo Season 2 -->
    <section id="hof-season2RankedSolo" class="box">
        <div class="table-wrapper">
        <table id="season2RankedSolo-table" class="alt lb tablesorter">
            <thead>
                <tr>
                    <th class="th-rank">Rank</th>
                    <th class="th-racer">Player</th>
                    <th class="th-time">Adjusted Average</th>
                    <th class="th-time">Unadjusted Average</th>
                    <th class="th-time">Forfeit Penalty</th>
                    <th>Forfeit Rate</th>
                </tr>
            </thead>
            <tbody>
            {{ range .Season2RankedSolo }}
                <tr>
                    <td class="td-rank"> {{ .Rank }} </td>
                    <td class="td-racer"><a href=/profile/{{ .ProfileName }}>{{ .Racer }}</a></td>
                    <td class="td-time">{{ .AdjustedAverage }}</td>
                    <td class="td-time">{{ .UnadjustedAverage }}</td>
                    <td class="td-time">{{ .ForfeitPenalty }}</td>
                    <td class="td-forfeit-rate-100">{{ .NumForfeits }}</td>
                </tr>
            {{ end }}
            </tbody>
        </table>
        </div>
    </section>
</section>
{{ end }}
