{{define "content"}}
<!-- Main -->
<section id="main" class="container">
	<header class="top">
		<h2>Info &amp; Contact</h2>
		<p>Your questions answered</p>
	</header>
	<div class="row">
		<div class="12u">
			<section class="box">
				<h2>Discord</h2>
				<p><a href="https://discordapp.com/">Discord</a> is a voice and text chat application that allows anyone to create a hosted server. We use one such server as the primary hub of communication for Isaac racing and speedrunning.</p>
				<a href="https://discord.gg/JzbhWQb" class="button small">Join the Isaac racing Discord server</a>
				<div style="height: 0.5em;"></div><!-- Spacing -->
			</section>

			<section class="box">
				<h2>Contact Staff</h2>
				<p>Staff can be contacted via private message on the Isaac racing Discord server.</p>
				<ul>
					<li><strong>Zamiel</strong> &mdash; Lead Programmer &amp; Admin</li>
					<li><strong>Lobsterosity</strong> &mdash; Community Relations</li>
				</ul>
				<div style="height: 0.5em;"></div><!-- Spacing -->
			</section>

			<section class="box">
				<h2>Mod Changes</h2>
				<p>The Racing+ Lua mod fixes many bugs that remain unpatched in the vanilla game. It also introduces some balance changes. All of the changes <a href="https://github.com/Zamiell/isaac-racing-client/blob/master/mod/CHANGES.md">are listed on GitHub</a>.</p>
				<p>You might also be interested in <a href="https://github.com/Zamiell/isaac-racing-client/blob/master/HISTORY.md">the version history</a>.</p>
				<p>Additionally, there is also <a href="https://github.com/Zamiell/isaac-racing-client/blob/master/mod/BUGS.md">a list of known bugs with the mod</a>.
				<div style="height: 0.5em;"></div><!-- Spacing -->
			</section>

			<section class="box">
				<h2>Client Hotkeys</h2>

				<p>A <strong>(G)</strong> indicates a global hotkey &mdash; you can use global hotkeys even when Racing+ is not the active program.</p>
				<ul>
					<li><code>Alt + 1</code> &mdash; Focus the Isaac game window <strong>(G)</strong>.</li>
					<li><code>Alt + 2</code> &mdash; Focus the Racing+ window <strong>(G)</strong>.</li>
					<li><code>Alt + B</code> &mdash; Launch The Binding of Isaac: Afterbirth+ <strong>(G)</strong>.</li>
					<li><code>Alt + E</code> &mdash; Create a new race.</li>
					<li><code>Alt + S</code> &mdash; Open the settings window.</li>
					<li><code>Alt + R</code> &mdash; Ready up for a race <strong>(G)</strong>.</li>
					<li><code>Alt + F</code> &mdash; Finish a race (only in "Custom" races) <strong>(G)</strong>.</li>
					<li><code>Alt + Q</code> &mdash; Quit the current race <strong>(G)</strong>.</li>
					<li><code>Alt + L</code> &mdash; Return to the lobby.</li>
				</ul>
			</section>

			<section class="box">
				<h2>Client Commands</h2>

				<ul>
					<li><code>/p [recipient] [message]</code> &mdash; Send a private message. You can also use <code>/pm</code>, <code>/m</code>, <code>/msg</code>, <code>/w</code>, <code>/whisper</code>, <code>/t</code>, or <code>/tell</code>.</li>
					<li><code>/r</code> &mdash; Reply to the last private message.</li>
					<li><code>/restart</code> &mdash; Restart the client.</li>
				</ul>
			</section>

			<section class="box">
				<h2>Frequently Asked Questions (FAQ)</h2>

				<ul>
					<li><a href="#faq-seasons">What is the difference between ranked and unranked?</a></li>
					<li><a href="#faq-on-launch">What does Racing+ do when it starts up?</a></li>
					<li><a href="#faq-mods">Is it possible to use Racing+ to race without any mods?</a></li>
					<li><a href="#faq-install-path">Where does Racing+ get installed to?</a></li>
					<li><a href="#faq-corrupt">What do I do if the mod doesn't seem to be working correctly in-game?</a></li>
					<li><a href="#faq-edens-blessing-bug">How do I fix the bug where I start with an extra random item at the beginning of every run?</a></li>
					<li><a href="#faq-log-error">What do I do if the client won't let me click the "Ready" button?</a></li>
					<li><a href="#faq-username">How do I change my username?</a></li>
					<li><a href="#faq-release">When will Racing+ be out of beta?</a></li>
					<li><a href="#faq-emotes">My favorite emote doesn't work in the chat. Can you add it?</a></li>
				</ul>

				<div style="height: 1em;" id="faq-seasons"></div><!-- Spacing -->
				<h3>What is the difference between ranked and unranked?</h3>
				<ul>
					<li>All multiplayer races are ranked in that the results will feed into the leaderboards. There is a separate multiplayer leaderboard for seeded, unseeded, and diversity.</li>
					<li>For solo races, you have the option between "Unranked" and "Ranked". Think of unranked as a practice mode.</li>
					<li>For solo ranked races, you have the option between "Unseeded" and "Seeded".
					<li>Solo ranked unseeded games are based on the lowest average time and the results will feed into a leaderboard.</li>
					<li>The solo ranked seeded leaderboard is coming soon.</li>
				</ul>

				<div style="height: 1em;" id="faq-on-launch"></div><!-- Spacing -->
				<h3>What does Racing+ do when it starts up?</h3>
				<ul>
					<li>It checks to make sure you have at least one fully unlocked save file.</li>
					<li>It checks to make sure your Racing+ Lua mod is not corrupted, since Steam sucks at keeping it in sync with the latest version. If you do not have the Racing+ Lua mod at all, then it will skip this part.</li>
				</ul>

				<div style="height: 1em;" id="faq-mods"></div><!-- Spacing -->
				<h3>
					Is it possible to use Racing+ to race without any mods?<br />
					Is it possible to use Racing+ with a custom mod or multiple mods?
				</h3>
				<p class="margin-half">
					Yes! Perform the following steps:
				</p>
				<ul>
					<li>Open the Racing+ program and make sure you are in the lobby.</li>
					<li>Go into the game's "Mods" menu and disable all mods (or enable only the custom mods that you want to play).</li>
					<li>Exit the game and reopen it, which ensures that all of the mods are loaded/unloaded correctly.</li>
					<li>On the Racing+ program, create a new race with a format of "Custom".</li>
					<li>Now, have your friends join the race. That's it!</li>
				</ul>
				<p>Remember to communicate to everyone in the race which mods are to be used and what the rules are.</p>

				<div style="height: 1em;" id="faq-install-path"></div><!-- Spacing -->
				<h3>
					Where does Racing+ get installed to?<br />
					Where is the log file located?
				</h3>
				<p>The mod gets installed (via Steam) to:</p>
				<p><code>C:\Users\[YourUsername]\Documents\My Games\Binding of Isaac Afterbirth+ Mods\racing+_857628390</code></p>
				<p>The client gets installed to:</p>
				<p><code>C:\Users\[YourUsername]\AppData\Local\Programs\RacingPlus</code></p>
				<p>The client settings are stored in:</p>
				<p><code>C:\Users\[YourUsername]\AppData\Local\Programs\settings.json</code></p>
				<p>The log file is located at:</p>
				<p><code>C:\Users\[YourUsername]\AppData\Local\Programs\Racing+ ####-##-##.log</code> (matching the date)</p>

				<div style="height: 1em;" id="faq-corrupt"></div><!-- Spacing -->
				<h3>What do I do if the mod doesn't seem to be working correctly in-game?</h3>
				<p>Sometimes, after an update, Steam can download a corrupted version of the mod. If you launch the client and are able to get to the lobby, the client should automatically heal a corrupted mod. If that doesn't work, try nuking your Racing+ mod manually by deleting the mod directory located at:</p>
				<p><code>C:\Users\[YourUsername]\Documents\My Games\Binding of Isaac Afterbirth+ Mods\racing+_857628390</code></p>
				<p>After deleting it, close Steam, reopen Steam, wait for the Steam download progress bar to complete, and then launch Isaac.</p>

				<div style="height: 1em;" id="faq-edens-blessing-bug"></div><!-- Spacing -->
				<h3>How do I fix the bug where I start with an extra random item at the beginning of every run?</h3>
				<p>This doesn't have anything to do with Racing+. It is actually a bug with Eden's Blessing in the vanilla game. To fix it:</p>
				<ul>
					<li>Disable all mods.</li>
					<li>Exit the game.</li>
					<li>Open the game.</li>
					<li>Enter a run with no easter eggs or seeds.</li>
					<li>Hold R to reset once.</li>
					<li>Go back to the main menu and re-enable mods.</li>
					<li>Exit the game.</li>
					<li>Open the game.</li>
				</ul>
				<p>After that, the bug should be fixed.</p>

				<div style="height: 1em;" id="faq-log-error"></div><!-- Spacing -->
				<h3>What do I do if the client won't let me click the "Ready" button?</h3>
				<p>If you mouse over the "Ready" button, Racing+ will give you a helpful message describing why. If you are started a run and the client is not detecting it, you probably have one of two problems.</p>
				<p><strong>1)</strong> Your Isaac installation could be corrupted. Open up your Isaac "log.txt" file, which is located here by default:</p>
				<p><code>C:\Users\[YourUsername]\Documents\My Games\Binding of Isaac Afterbirth+\log.txt</code></p>
				<p>Search for the word "error". If you see something like this:</p>
				<p><pre>[INFO] - Running Lua Script: resources/scripts/main.lua
[INFO] - ERR: cannot open resources/scripts/main.lua: No such file or directory
[INFO] - There was an error running the lua file: resources/scripts/main.lua</pre></p>
				<p>This means that certain files are missing in your <code>resources</code> folder that are necessary for mods to run. Completely nuke your Isaac installation, ensure that all of the files are deleted, and then reinstall.</p>
				<p><strong>2)</strong> You could have multiple installations of Isaac on your computer and Racing+ is pointed at the wrong "log.txt" file. From the lobby, click the "Settings" button at the top. This will allow you to change the log file that the Racing+ client is pointed at.</p>
				<p>As a troubleshooting step, verify that you are looking at the right log file by starting a run, writing down the seed, opening up the "log.txt" file in Notepad, and searching to see if the game wrote the seed to the log file. If it didn't, then you need to find your real "log.txt" file and have Racing+ point to that one!</p>

				<div style="height: 1em;" id="faq-username"></div><!-- Spacing -->
				<h3>How do I change my username?</h3>
				<p>Once you sign up with a username, you can't change it. If you really, really need to change your username, contact an administrator.</p>

				<div style="height: 1em;" id="faq-release"></div><!-- Spacing -->
				<h3>When will Racing+ be out of beta?</h3>
				<p>When it has achievements and all of the feature additions that I am planning.</p>

				<div style="height: 1em;" id="faq-emotes"></div><!-- Spacing -->
				<h3>My favorite emote doesn't work in the chat. Can you add it?</h3>
				<p>Yes. Send it to an administrator on Discord.</p>

				<div style="height: 0.5em;"></div><!-- Spacing -->
			</section>

			<section class="box">
				<h2>Shoutouts</h2>
				<p>The following people deserve special recognition. Contributors are listed in chronological order.</p>
				<ul>
					<li>
						<a href="https://www.twitch.tv/Gromfalloon">Gromfalloon</a> &mdash;
						The excellent artist who designed the artwork for the Racing+ logo.
					</li>
					<li>
						<a href="https://www.twitch.tv/Chronometrics">Chronometrics</a> &mdash;
						A speedrunner who helped with programming and Lua problem solving. He also makes and continues to support <a href="https://github.com/Tempus/Basement-Renovator">Basement Renovator</a>.
					</li>
					<li>
						<a href="https://www.twitch.tv/SedNegi">SedNegi</a> &mdash;
						A speedrunner who helped translate the text to French and provide voice acting.
					</li>
					<li>
						<a href="https://gamejolt.com/@matrefeytontias">Matrefeytontias</a> &mdash;
						A modder who helped with the creation of the in-game graphics.
					</li>
					<li>
						<a href="https://www.twitch.tv/blcd_">blcd</a> &mdash;
						A modder who helped with reverse engineering the game to derive formulas for how items work, provided code for the Lua mod, and other helpful things.
					</li>
					<li>
						<a href="https://moddingofisaac.com/user/255">Dan</a> &mdash;
						A modder who created the <a href="https://moddingofisaac.com/mod/950/fogless">Fogless! mod</a>, which is included with the Racing+ Lua mod.
					</li>
					<li>
						<a href="https://www.twitch.tv/RatRacing">RatRacing</a> &mdash;
						A speedrunner who originally created the starting room graphic.
					</li>
					<li>
						<a href="https://www.twitch.tv/birdie0">birdie0</a> &mdash;
						A speedrunner who worked on the starting room graphic and helped with bug reporting.
					</li>
					<li>
						<a href="https://www.twitch.tv/sillypears">sillypears</a> &mdash;
						A speedrunner who helped with bug reporting and helped code most of the website.
					</li>
					<li>
						<a href="https://www.twitch.tv/InvaderTimStreams">InvaderTim</a> &mdash;
						A speedrunner who helped code the Racing+ client.
					</li>
					<li>
						<a href="http://steamcommunity.com/id/ghostbrosterconnor">Ghostbroster</a> &mdash;
						A modder who created the <a href="http://steamcommunity.com/sharedfiles/filedetails/?id=897795840">Samael</a> character, which is included in Racing+.
					</li>
					<li>
						<a href="https://steamcommunity.com/id/piber20">piber20</a> &mdash;
						A modder who created the <a href="https://steamcommunity.com/sharedfiles/filedetails/?id=1120999933">Unique Card Backs</a> mod, which is included in Racing+.
					</li>
					<li>
						<a href="http://steamcommunity.com/profiles/76561197993627005">O_o</a> &mdash;
						A modder who created the <a href="http://steamcommunity.com/sharedfiles/filedetails/?id=1138554495">Trinket Outlines</a> mod, which is included in Racing+.
					</li>
					<li>
						<a href="http://steamcommunity.com/profiles/76561198172774482/myworkshopfiles/?appid=250900">Meowlala / DeadInfinity</a> &mdash;
						A modder who created the <a href="http://steamcommunity.com/sharedfiles/filedetails/?id=1145038762">Jr. Fetus</a> boss, who is included in the R+7 Season 3 custom challenge.
					</li>
					<li>
						<a href="http://steamcommunity.com/id/pleasebecareful">melon goodposter</a> &mdash;
						A modder who created the <a href="http://steamcommunity.com/sharedfiles/filedetails/?id=960253826">Mahalath</a> boss, who is included in the R+7 Season 3 custom challenge.
					</li>
				</ul>
				<div style="height: 0.5em;"></div><!-- Spacing -->
			</section>

		</div>
	</div>

</section>
{{end}}
