{{define "layout"}}
<!DOCTYPE html>
<!--
	Alpha by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Racing+{{if ne .Title "Home"}} - {{.Title}}{{end}}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/public/css/main.css" />
		<link rel="icon" type="image/png" href="/public/img/favicon.png">
		<link rel="stylesheet" type="text/css" href="/public/tooltipster/dist/css/tooltipster.bundle.min.css" />
		<link rel="stylesheet" type="text/css" href="/public/tooltipster/dist/css/plugins/tooltipster/sideTip/themes/tooltipster-sideTip-shadow.min.css" />
	</head>
	<body{{if eq .Title "Home"}} class="landing"{{end}}>
		<div id="page-wrapper">

			<!-- Header -->
			<header id="header"{{if eq .Title "Home"}} class="alt"{{end}}>
				<h1>
					{{if ne .Title "Home"}}<a href="/">{{end}}
					Racing+
					{{if ne .Title "Home"}}</a>{{end}}
				</h1>
				<nav id="nav">
					<ul>
						<li><a href="https://github.com/Zamiell/isaac-racing-client/blob/master/HISTORY.md">News</a></li>
						<li><a href="/races">Race Listing</a></li>
						<li><a href="/profiles">Player Profiles</a></li>
						<li><a href="/leaderboards">Leaderboards</a></li>
						<li><a href="/tournament">Tournaments</a></li>
						<li><a href="/halloffame">Hall of Fame</a></li>
						<li><a href="/info">Info &nbsp;&amp;&nbsp; Contact</a></li>
						<li><a href="/download" class="button special">Download</a></li>
					</ul>
				</nav>
			</header>

			{{ template "content" .}}

		</div>

		<!-- Scripts -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.dropotron/1.4.3/jquery.dropotron.js"></script>
		<script src="/public/js/jquery.scrollgress.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/skel/3.0.1/skel.min.js"></script>
		<script src="/public/js/util.min.js"></script>
		<script type="text/javascript" src="/public/tooltipster/dist/js/tooltipster.bundle.min.js"></script>
		<script src="/public/js/main.js"></script>
		<script src="/public/tablesorter/jquery.tablesorter.min.js"></script>
		<script src="/public/tablesorter/jquery.metadata.js"></script>
		{{if eq .Title "Home" }}<script src="/public/js/home.js"></script>{{end}}
		{{if eq .Title "Races" }}<script src="/public/js/races.js"></script>{{end}}
		{{if eq .Title "Race" }}<script src="/public/js/races.js"></script>{{end}}
		{{if eq .Title "Profile" }}<script src="/public/js/profile.js"></script>{{end}}
		{{if eq .Title "Profiles" }}<script src="/public/js/profiles.js"></script>{{end}}
		{{if eq .Title "Leaderboards" }}<script src="/public/js/leaderboards.js"></script>{{end}}
		{{if eq .Title "Hall Of Fame" }}<script src="/public/js/halloffame.js"></script>{{end}}
		{{if eq .Title "Download"}}<script src="/public/js/download.js"></script>{{end}}
	</body>
</html>
{{end}}
