{{define "content"}}
<!-- Main -->
<section id="main" class="container">
	<header class="top">
		<h2>Leaderboards</h2>
		<p>The best amongst you</p>
	</header>

	<!--
	<div id="leaderboard-buttons-row0" class="row">
		<div class="4u 12u">
			<a class="button fit inactive" style="display: none;">Multiplayer Unseeded</a>
		</div>
		<div class="4u 12u">
			<a id="leaderboard-all-button" class="button fit inactive">Multiplayer All</a>
		</div>
		<div class="4u 12u">

		</div>
	</div>
	-->

	<div id="leaderboard-buttons-row1" class="row">
		<div class="4u 12u">
			<a id="leaderboard-seeded-button" class="button fit inactive">Multiplayer Seeded</a>
		</div>
		<div class="4u 12u">
			<a id="leaderboard-unseeded-button" class="button fit inactive">Multiplayer Unseeded</a>
		</div>
		<div class="4u 12u">
			<a id="leaderboard-diversity-button" class="button fit inactive">Multiplayer Diversity</a>
		</div>
	</div>
	<div id="leaderboard-buttons-row2" class="row">
		<div class="4u 12u">
			<a id="leaderboard-seeded-solo-button" class="button fit inactive disabled">Solo Seeded</a>
		</div>
		<div class="4u 12u">
			<a id="leaderboard-unseeded-solo-button" class="button fit inactive">Solo Unseeded</a>
		</div>
		<div class="4u 12u">
			<a id="leaderboard-other-button" class="button fit inactive disabled">Other</a>
		</div>
	</div>

	<p>&nbsp;</p>

	<div class="12u">
		<section class="small-box" id="notes-banner">
			More information on leaderboard calculation is listed at <a href="#notes">the bottom of the page</a>.
		</section>
	</div>

	<section id="leaderboard-seeded" class="box">
		<div class="table-wrapper">
			<table  id="leaderboard-seeded-table" class="alt lb tablesorter">
				<thead>
					<tr>
						<th>Rank</th>
						<th>Player</th>
						<th>TrueSkill</th>
						<th>Total Races Played</th>
						<th>Fastest Time</th>
						<th>Date of Last Race</th>
						<th>Verified</th>
					</tr>
				</thead>
				<tbody>
					{{ range $index, $results := .LeaderboardSeeded }}

						<tr>
							<td class="lb-rank">{{ $index }}</td>
							<td class="lb-name"><a href="/profile/{{ .Name }}">{{ .Name }}</a></td>
							<td class="lb-trueskill">{{ .SeededTrueSkill }} <span id="lastEloChange" class="{{ if lt .SeededTrueSkillDelta 0.0 -}} red {{- else if gt .SeededTrueSkillDelta 0.0}} green {{- end}}">{{if gt .SeededTrueSkillDelta 0.0}}+{{end}}{{ if ne .SeededTrueSkillDelta 0.0 -}}{{- .SeededTrueSkillDelta -}}{{ end -}}</span></td>
							<td class="lb-num-races">{{ .SeededNumRaces.Value }}</td>
							<td class="lb-fastest">{{ .SeededLowestTime.Value }}</td>
							<td class="lb-last-race"><a href="/race/{{ .SeededLastRaceID }}">{{ .SeededLastRace.Value }}</a></td>
							<td class="lb-status">
								{{ if eq .Verified 1 -}}
									<i class="fa fa-check" aria-hidden="true" alt="Verified"></i>
								{{- else -}}
									<i class="fa fa-times" aria-hidden="true" alt="Verified"></i>
								{{- end }}
								{{ if ne .StreamURL "-" -}}
									&nbsp;<a href="{{ .StreamURL }}" target="_blank">
										<img src="/public/img/Glitch_Purple_RGB.png" width="16px" height="16px"/>
									</a>
								{{- end -}}
							</td>
						</tr>
					{{- end }}
				</tbody>
			</table>
		</div>
	</section>
	<section id="leaderboard-seeded-solo" class="box">
		<div class="table-wrapper">
			<table  id="leaderboard-seeded-solo-table" class="alt lb tablesorter">
				<thead>
					<tr>
						<th>Rank</th>
						<th>Player</th>
						<th>TrueSkill</th>
						<th>Total Races Played</th>
						<th>Fastest Time</th>
						<th>Date of Last Race</th>
						<th>Verified</th>
					</tr>
				</thead>
				<tbody>
					{{ range $index, $results := .LeaderboardSeededSolo }}

						<tr>
							<td class="lb-rank">{{ $index }}</td>
							<td class="lb-name"><a href="/profile/{{ .Name }}">{{ .Name }}</a></td>
							<td class="lb-trueskill">{{ .SeededSoloTrueSkill }} <span id="lastEloChange" class="{{ if lt .SeededSoloTrueSkillDelta 0.0 -}} red {{- else if gt .SeededSoloTrueSkillDelta 0.0}} green {{- end}}">{{if gt .SeededSoloTrueSkillDelta 0.0}}+{{end}}{{ if ne .SeededSoloTrueSkillDelta 0.0 -}}{{- .SeededSoloTrueSkillDelta -}}{{ end -}}</span></td>
							<td class="lb-num-races">{{ .SeededSoloNumRaces.Value }}</td>
							<td class="lb-fastest">{{ .SeededSoloLowestTime.Value }}</td>
							<td class="lb-last-race"><a href="/race/{{ .SeededSoloLastRaceID }}">{{ .SeededSoloLastRace.Value }}</a></td>
							<td class="lb-status">
								{{ if eq .Verified 1 -}}
									<i class="fa fa-check" aria-hidden="true" alt="Verified"></i>
								{{- else -}}
									<i class="fa fa-times" aria-hidden="true" alt="Verified"></i>
								{{- end }}
								{{ if ne .StreamURL "-" -}}
									&nbsp;<a href="{{ .StreamURL }}" target="_blank">
										<img src="/public/img/Glitch_Purple_RGB.png" width="16px" height="16px"/>
									</a>
								{{- end -}}
							</td>
						</tr>
					{{- end }}
				</tbody>
			</table>
		</div>
	</section>
	<section id="leaderboard-unseeded" class="box">
		<div class="table-wrapper">
			<table  id="leaderboard-unseeded-table" class="alt lb tablesorter">
				<thead>
					<tr>
						<th>Rank</th>
						<th>Player</th>
						<th>TrueSkill</th>
						<th>Total Races Played</th>
						<th>Fastest Time</th>
						<th>Date of Last Race</th>
						<th>Verified</th>
					</tr>
				</thead>
				<tbody>
					{{ range $index, $results := .LeaderboardUnseeded }}

						<tr>
							<td class="lb-rank">{{ $index }}</td>
							<td class="lb-name"><a href="/profile/{{ .Name }}">{{ .Name }}</a></td>
							<td class="lb-trueskill">{{ .UnseededTrueSkill }} <span id="lastEloChange" class="{{ if lt .UnseededTrueSkillDelta 0.0 -}} red {{- else if gt .UnseededTrueSkillDelta 0.0}} green {{- end}}">{{if gt .UnseededTrueSkillDelta 0.0}}+{{end}}{{ if ne .UnseededTrueSkillDelta 0.0 -}}{{- .UnseededTrueSkillDelta -}}{{ end -}}</span></td>
							<td class="lb-num-races">{{ .UnseededNumRaces.Value }}</td>
							<td class="lb-fastest">{{ .UnseededLowestTime.Value }}</td>
							<td class="lb-last-race"><a href="/race/{{ .UnseededLastRaceID }}">{{ .UnseededLastRace.Value }}</a></td>
							<td class="lb-status">
								{{ if eq .Verified 1 -}}
									<i class="fa fa-check" aria-hidden="true" alt="Verified"></i>
								{{- else -}}
									<i class="fa fa-times" aria-hidden="true" alt="Verified"></i>
								{{- end }}
								{{ if ne .StreamURL "-" -}}
									&nbsp;<a href="{{ .StreamURL }}" target="_blank">
										<img src="/public/img/Glitch_Purple_RGB.png" width="16px" height="16px"/>
									</a>
								{{- end -}}
							</td>
						</tr>
					{{- end }}
				</tbody>
			</table>
		</div>
	</section>
	<section id="leaderboard-unseeded-solo" class="box">
		<div class="table-wrapper">
			<table  id="leaderboard-unseeded-solo-table" class="alt lb tablesorter">
				<thead>
					<tr>
						<th>Rank</th>
						<th>Player</th>
						<th>Adjusted Average</th>
						<th>Unadjusted Average</th>
						<th>Forfeit Penalty</th>
						<th>Forfeit Rate</th>
						<th>Total Races Played</th>
						<th>Fastest Time</th>
						<th>Date of Last Race</th>
						<th>Verified</th>
					</tr>
				</thead>
				<tbody>
					{{ range $index, $results := .LeaderboardUnseededSolo }}

						<tr>
							<td class="lb-rank">{{ $index }}</td>
							<td class="lb-name"><a href="/profile/{{ .Name }}">{{ .Name }}</a></td>
							<td class="lb-adj-avg">{{ .AdjustedAverage }}</td>
							<td class="lb-real-avg">{{ .RealAverage }}</td>
							<td class="lb-for-pen">{{ .ForfeitPenalty }}</td>
							<td class="lb-num-for">{{ .NumForfeits }}</td>
							<td class="lb-num-races">{{ .NumRaces }}</td>
							<td class="lb-fastest">{{ .LowestTime }}</td>
							<td class="lb-last-race"><a href="/race/{{ .LastRaceID }}">{{ .LastRace.Value }}</a></td>
							<td class="lb-status">
								{{ if eq .Verified 1 -}}
									<i class="fa fa-check" aria-hidden="true" alt="Verified"></i>
								{{- else -}}
									<i class="fa fa-times" aria-hidden="true" alt="Verified"></i>
								{{- end }}
								{{ if ne .StreamURL "-" -}}
									&nbsp;<a href="{{ .StreamURL }}" target="_blank">
										<img src="/public/img/Glitch_Purple_RGB.png" width="16px" height="16px"/>
									</a>
								{{- end -}}
							</td>
						</tr>
					{{- end }}
				</tbody>
			</table>
		</div>
	</section>

	<section id="leaderboard-diversity" class="box">
		<div class="table-wrapper">
			<table  id="leaderboard-diversity-table" class="alt lb tablesorter">
				<thead>
					<tr>
						<th>Rank</th>
						<th>Player</th>
						<th>TrueSkill</th>
						<th>Total Races Played</th>
						<th>Fastest Time</th>
						<th>Date of Last Race</th>
						<th>Verified</th>
					</tr>
				</thead>
				<tbody>
					{{ range $index, $results := .LeaderboardDiversity }}

						<tr>
							<td class="lb-rank">{{ $index }}</td>
							<td class="lb-name"><a href="/profile/{{ .Name }}">{{ .Name }}</a></td>
							<td class="lb-trueskill">{{ .DivTrueSkill }} <span id="lastEloChange" class="{{ if lt .DivTrueSkillDelta 0.0 -}} red {{- else if gt .DivTrueSkillDelta 0.0}} green {{- end}}">{{if gt .DivTrueSkillDelta 0.0}}+{{end}}{{ if ne .DivTrueSkillDelta 0.0 -}}{{- .DivTrueSkillDelta -}}{{ end -}}</span></td>
							<td class="lb-num-races">{{ .DivNumRaces.Value }}</td>
							<td class="lb-fastest">{{ .DivLowestTime.Value }}</td>
							<td class="lb-last-race"><a href="/race/{{ .DivLastRaceID }}">{{ .DivLastRace.Value }}</a></td>
							<td class="lb-status">
								{{ if eq .Verified 1 -}}
									<i class="fa fa-check" aria-hidden="true" alt="Verified"></i>
								{{- else -}}
									<i class="fa fa-times" aria-hidden="true" alt="Verified"></i>
								{{- end }}
								{{ if ne .StreamURL "-" -}}
									&nbsp;<a href="{{ .StreamURL }}" target="_blank">
										<img src="/public/img/Glitch_Purple_RGB.png" width="16px" height="16px"/>
									</a>
								{{- end -}}
							</td>
						</tr>
					{{- end }}
				</tbody>
			</table>
		</div>
	</section>

	<!--
	<div id="leaderboard-other" style="display: none;">
		<section class="box">
			<h3>Top 10 Unseeded Times</h3>
			<br />
			<div class="table-wrapper">
				<table class="alt">
					<thead>
						<tr>
							<th>Place</th>
							<th>Player</th>
							<th>Time</th>
							<th>Date</th>
							<th>Verified</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>Zamiel</td>
							<td>12:30</td>
							<td>07/16/16</td>
							<td><i class="fa fa-check" aria-hidden="true"></i></td>
						</tr>
						<tr>
							<td>2</td>
							<td>Dea1h</td>
							<td>12:30</td>
							<td>07/16/16</td>
							<td><i class="fa fa-times" aria-hidden="true"></i></td>
						</tr>
					</tbody>
				</table>
			</div>
		</section>
		<section class="box">
			<h3>Most Races Played</h3>
			<br />
			<div class="table-wrapper">
				<table class="alt">
					<thead>
						<tr>
							<th>Place</th>
							<th>Player</th>
							<th>Total Races</th>
							<th>Verified</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>Zamiel</td>
							<td>500</td>
							<td><i class="fa fa-check" aria-hidden="true"></i></td>
						</tr>
						<tr>
							<td>2</td>
							<td>Dea1h</td>
							<td>350</td>
							<td><i class="fa fa-times" aria-hidden="true"></i></td>
						</tr>
					</tbody>
				</table>
			</div>
		</section>
	</div>
	-->

	<!-- Anchor for the notes link -->
	<div id="notes"></div>

	<div class="12u" id="notes-multiplayer" style="display: none;">
		<section class="box">
			<h3>Multiplayer Leaderboard Notes</h3>
			<ul>
				<li>Players with <strong>under 5 races</strong> in the particular format <strong>not included</strong> in the leaderboard.</li>
				<li><a href="http://trueskill.org/">TrueSkill</a> is a ranking system designed by Microsoft.</li>
				<li>Verified racers have agreed to stream every race they play for cheat-verification purposes. To request verification, please contact an administrator.</li>
			</ul>
		</section>
	</div>
	<div class="12u" id="notes-unseeded-solo" style="display: none;">
		<section class="box">
			<h3>Solo Unseeded Leaderboard Notes</h3>
			<ul>
				<li>Players that play <strong>ranked</strong> solo unseeded races will appear on the leaderboard.</li>
				<li>Players with <strong>under 20 races</strong> are <strong>not included</strong> in the leaderboard.</li>
				<li>Only the last 50 races are used for players with over 50 races.</li>
				<li>A penalty is added to the average time based on: <code>average time * number of forfeits / number of races</code></li>
				<li>This means that it is only advantageous to forfeit if your finishing time will be more than double your current average (approximately).</li>
				<li>This formula is derived from <a href="https://en.wikipedia.org/wiki/Risk_assessment">risk assessment</a>.</li>
				<li>Verified racers have agreed to stream every race they play for cheat-verification purposes. To request verification, please contact an administrator.</li>
			</ul>
		</section>
	</div>
	<div class="12u" id="notes-seeded-solo" style="display: none;">
		<section class="box">
			<h3>Solo Seeded Leaderboard Notes</h3>
			<ul>
				<li>Players that play <strong>ranked</strong> solo seeded races will appear on the leaderboard.</li>
				<li>Players with <strong>under 5 races</strong> are <strong>not included</strong> in the leaderboard.</li>
				<li><a href="http://trueskill.org/">TrueSkill</a> is a ranking system designed by Microsoft.</li>
				<li>Verified racers have agreed to stream every race they play for cheat-verification purposes. To request verification, please contact an administrator.</li>
			</ul>
		</section>
	</div>
</section>
{{end}}
