{{define "content"}}
<!-- Main -->
<section id="main" class="container">
	<header>
		<h2>News</h2>
		<p>Recent changes and updates</p>
	</header>
	<div class="row">
		<div class="12u">

			<section class="box">
				<h3>March 19th, 2017</h3>
				<p>Racing+ now has many new features, like diversity races, the Schoolbag, and (custom) Victory Lap functionality. For up to date news, please check out the <code>#racing-plus-patch-notes</code> channel in <a href="https://discord.gg/JzbhWQb">the Discord server</a>.</p>
			</section>

			<section class="box">
				<h3>February 3rd, 2017</h3>
				<p>Racing+ has entered open alpha for Afterbirth+. There's still a lot to do, but feel free to check it out.</p>
			</section>

			<section class="box">
				<h3>November 22nd, 2016</h3>
				<p>Racing+ has entered open beta for Afterbirth. I'm working on getting everything as perfect as possible; please report any bugs or things that you would like changed.</p>
			</section>

		</div>
	</div>

</section>
{{end}}
