{{ define "content" }}
<section id="profile-main" class="container">
	<section class="small-box">
		<header class="profile">
			User "{{ .MissingPlayer }}" does not exist.
		</header>
	</section>
</section>
{{ end }}
