{{ define "content" }}
<section id="profile-main" class="container">
	<section class="small-box">
    <header class="profile">
        There was no profile found for {{ .MissingPlayer }}
    </header>
  </section>
</section>
{{ end }}
