{{define "content"}}
<!-- Main -->
<section id="main" class="container">
	<header class="top">
		<h2>Player Profiles</h2>
		<p>Your fellow racers<br />
		<sup>({{ .TotalProfileCount }} in total)</sup></p>

	</header>
	<div id="race-listing-buttons" class="row">
		<!-- if statement checks to see where we currently are and only serves the buttons we need to see -->
		{{ if ge .PreviousPage 1 -}}
			<div class="3u 12u">
				<a href="../profiles" class="button fit">&lt;&lt;</a>
			</div>
			<div class="3u 12u">
				<a href="../profiles/{{ .PreviousPage }}" class="button fit">&lt;</a>
			</div>
		{{- else }}
			<div class="3u 12u">
				&nbsp;
			</div>
			<div class="3u 12u">
				&nbsp;
			</div>
		{{- end }}
		{{ if le .NextPage .TotalPages }}
			<div class="3u 12u">
				<a href="../profiles/{{ .NextPage }}" class="button fit">&gt;</a>
			</div>
			<div class="3u 12u">
				<a href="../profiles/{{ .TotalPages }}" class="button fit">&gt;&gt;</a>
			</div>
		{{- else }}
			<div class="3u 12u">
				&nbsp;
			</div>
			<div class="3u 12u">
				&nbsp;
			</div>
		{{- end }}
	</div>
	<section class="box">
		<div class="table-wrapper">
			<table class="alt" id="profiles">
				<thead>
					<tr>
						<th>Name</th>
						<th>Joined</th>
						<th>Achievements</th>
						<th>Total Races</th>
						<th>Last Race</th>
					</tr>
				</thead>
				<tfoot>
				</tfoot>
				<tbody>
					{{ range .ResultsProfiles }}
						<tr>
							<td class="profile-user"><a href="../profile/{{ .Username.String }}"> {{ .Username.String }} </a></td>
							<td id="date" class="profile-date-created"> {{ .DatetimeCreated.Value }}</td>
							<td class="profile-achi"> {{ .NumAchievements.Int64 }} </td>
							<td class="profile-total-races"> {{ .TotalRaces.Int64 }} </td>
							<td class="profile-last-race"><a href="/races/{{ .ProfileLastRaceID.Value }}">{{ .ProfileLastRaceDate.Value }}</a></td>
						</tr>
					{{ end }}
				</tbody>
			</table>
		</div>
	</section>
	<div id="race-listing-buttons" class="row">
		<!-- if statement checks to see where we currently are and only serves the buttons we need to see -->
		{{ if ge .PreviousPage 1 -}}
			<div class="3u 12u">
				<a href="../profiles" class="button fit">&lt;&lt;</a>
			</div>
			<div class="3u 12u">
				<a href="../profiles/{{ .PreviousPage }}" class="button fit">&lt;</a>
			</div>
		{{- else }}
			<div class="3u 12u">
				&nbsp;
			</div>
			<div class="3u 12u">
				&nbsp;
			</div>
		{{- end }}
		{{ if le .NextPage .TotalPages }}
			<div class="3u 12u">
				<a href="../profiles/{{ .NextPage }}" class="button fit">&gt;</a>
			</div>
			<div class="3u 12u">
				<a href="../profiles/{{ .TotalPages }}" class="button fit">&gt;&gt;</a>
			</div>
		{{- else }}
			<div class="3u 12u">
				&nbsp;
			</div>
			<div class="3u 12u">
				&nbsp;
			</div>
		{{- end }}
	</div>
</section>
{{end}}
