{{define "content"}}
<!-- Main -->
<section id="main" class="container">
	<header>
		<!-- This checks for the username and populates it along with the verification badge if verified -->
		<h2>{{ if ne .ResultsProfile.Username "" }} {{ .ResultsProfile.Username }}'s {{ end }} Profile {{if .ResultsProfile.Verified }} <img height="16px" width="16px" src="../public/img/verified.png" /> {{ end }}</h2>
		<!-- This checks for the players Twitch stream and places the Glitch icon with a link to a new window/tab -->
		{{ if ne .ResultsProfile.StreamURL "-" }} <h1><a href="{{ .ResultsProfile.StreamURL }}" target="_blank" id="twitchUrl"><img height="32px" width="32px" src="../public/img/Glitch_Purple_RGB.png" /></a></h1> {{ end }}
		<p>Joined on  <span id="date">{{ .ResultsProfile.DatetimeCreated }}</span></p>
	</header>
	<section class="box">
		<div class="table-wrapper">
			<table class="alt" id="profiles">
				<thead>
					<tr>
						<th>TrueSkill</th>
						<th>Seeded Races</th>
						<th>Unseeded Races</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<!-- Sets ELO & ELO change with color for +/- -->
						<td>{{ .ResultsProfile.StatsSeeded.TrueSkill }}
						<span id="lastEloChange" class="{{ if lt .ResultsProfile.StatsSeeded.Sigma 0.0 -}} red {{- else if gt .ResultsProfile.StatsSeeded.Sigma 0.0}} green {{- end}}">{{if gt .ResultsProfile.StatsSeeded.Sigma 0.0}}+{{end}}{{ if ne .ResultsProfile.StatsSeeded.Sigma 0.0 }} .ResultsProfile.StatsSeeded.Sigma {{ end }}</span>
						</td>
						<td>{{ .ResultsProfile.StatsSeeded.NumRaces }}</td>
						<td>{{ .ResultsProfile.StatsUnseeded.NumRaces }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</section>
	<header>
		<h2>Last {{ len .RaceResults }} Races </h2>
	</header>
	<section class="race-box">
		<div class="table-wrapper">
			<table id="race-listing-table">
				<thead>
					<tr>
						<th>ID</th>
						<th>Date &amp; Time</th>
						<th>Ranked</th>
						<th>Format</th>
						<th>Character</th>
						<th>Goal</th>
						<th>Racer</th>
						<th>Place</th>
						<th>Time</th>
						<th>Comment</th>
					</tr>
				</thead>
				<tbody>
					{{ range .RaceResults }}
						<tr>
							{{ $racers := len .RaceParticipants }}
							<td rowspan="{{ $racers }}"><a href="/race/{{ .RaceID }}">{{ .RaceID }}</a></td>
							<td id="racedate" rowspan="{{ $racers }}"> {{ .RaceDateStart }}</td>
							<td rowspan="{{ $racers }}"><img src="/public/img/ranked/{{ if eq .RaceType "0" -}} unranked {{- else -}} ranked {{- end }}.png" title="{{ if eq .RaceType "0" -}} Unranked {{- else -}} Ranked {{- end }}" /></td>
							<td rowspan="{{ $racers }}"><img src="/public/img/formats/{{ .RaceFormat }}.png" title="{{ .RaceFormat }}" /></td>
							<td rowspan="{{ $racers }}"><img src="/public/img/characters/{{ .RaceChar }}.png" title="{{ .RaceChar }}" /></td>
							<td rowspan="{{ $racers }}"><img src="/public/img/goals/{{ .RaceGoal }}.png" title="{{ .RaceGoal }}" /></td>

							{{ range $index, $results := .RaceParticipants }}
								<td class=racername>
									<a href="../profile/{{ .RacerName }}">{{ .RacerName }}</a>
								</td>
								{{ if eq .RacerPlace -1 -}}
									<td>Quit</td>
									<td>&nbsp;</td>
								{{- else}}
									<td>{{ .RacerPlace }}</td>
									<td>{{ .RacerTime }}</td>
								{{- end }}
								{{ if ne .RacerComment "-" -}}
									<td	title="{{ .RacerComment }}"> {{ .RacerComment }}</td>
								{{- else}}
									<td>&nbsp;</td>
								{{ end }}
							<tr>
							{{ end }}
							</tr>
						</tr>
					{{- end }}
				</tbody>
			</table>
		</div>
	</section>

</section>
{{end}}
