{{define "content"}}
<!-- Main -->
<section id="main" class="container">
	<header>
		<h2>Player Profiles</h2>
		<p>Your fellow racers</p>
	</header>
	<div id="race-listing-buttons" class="row">
		<!-- if statement checks to see where we currently are and only serves the buttons we need to see -->
		{{ if ge .PreviousPage 1 -}}
			<div class="3u 12u">
				<a href="../profiles" class="button fit">&lt;&lt;</a>
			</div>
			<div class="3u 12u">
				<a href="../profiles/{{ .PreviousPage }}" class="button fit">&lt;</a>
			</div>
		{{- else }}
			<div class="3u 12u">
				&nbsp;
			</div>
			<div class="3u 12u">
				&nbsp;
			</div>
		{{- end }}
		{{ if le .NextPage .TotalPages }}
			<div class="3u 12u">
				<a href="../profiles/{{ .NextPage }}" class="button fit">&gt;</a>
			</div>
			<div class="3u 12u">
				<a href="../profiles/{{ .TotalPages }}" class="button fit">&gt;&gt;</a>
			</div>
		{{- else }}
			<div class="3u 12u">
				&nbsp;
			</div>
			<div class="3u 12u">
				&nbsp;
			</div>
		{{- end }}
	</div>
	<section class="box">
		<div class="table-wrapper">
			<table class="alt" id="profiles">
				<thead>
					<tr>
						<th>Name</th>
						<th>Joined</th>
						<th>Achievements</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<td>
							Total Players: {{ .TotalProfileCount }}
						</td>
					</tr>
				</tfoot>
				<tbody>
					{{ range .ResultsProfile }}
						<tr>
							<td><a href="../profile/{{.Username}}"> {{ .Username }} </a></td>
							<td id="date"> {{ .DateCreated }}</td>
							<td> {{ .Achievements }} </td>
						</tr>
					{{ end }}
				</tbody>
			</table>
		</div>
	</section>

</section>
{{end}}
