{{define "content"}}
<!-- Main -->
<div id="banned">{{ .ResultsProfile.Banned }}</div><span id="span-ban"></span>
<section id="profile-main" class="container">
	<header class="profile">
		<!-- This checks for the username and populates it along with the verification badge if verified -->
		<h2 class="profile-name">{{ if ne .ResultsProfile.Username.String "" }} {{ .ResultsProfile.Username.String }}'s {{ end }} Profile {{if .ResultsProfile.Verified }} <img height="16px" width="16px" src="../public/img/verified.png" /> {{ end }}</h2>
		<!-- This checks for the players Twitch stream and places the Glitch icon with a link to a new window/tab -->
		{{ if ne .ResultsProfile.StreamURL.String "-" }} <h1><a href="{{ .ResultsProfile.StreamURL.String }}" target="_blank" id="twitchUrl"><img height="32px" width="32px" src="../public/img/Glitch_Purple_RGB.png" /></a></h1> {{ end }}
		<p>Joined on <span id="join-date">{{ .ResultsProfile.DatetimeCreated.Value }}</span></p>
	</header>
	<section class="box">
		<div class="table-wrapper">
			<table class="alt" id="profiles">
				<thead>
					<tr>
						<th class="seeded-th" colspan="2">Seeded Ranked</th>
						<th class="unseeded-th" colspan="2">Unseeded Ranked</th>
						<th class="diversity-th" colspan="2">Diversity</th>
					</tr>
				</thead>
				<tbody>
					<tr class="profile-stats">
						<!-- First Column -->
						<td id="seeded-trueskill-label" class="seeded-column left">TrueSkill:</td>
						<td id="seeded-trueskill-val" class="seeded-column right">{{ .ResultsProfile.StatsSeeded.TrueSkill }}</td>
						<!-- Second Column -->
						<td id="unseeded-adjavg-label" class="unseeded-column left">Adjusted Average:</td>
						<td id="unseeded-adjavg-val" class="unseeded-column right">{{ .ResultsProfile.StatsUnseeded.AdjustedAverage }}</td>
						<!-- Third Column -->
						<td id="diversity-trueskill-label" class="diversity-column left">TrueSkill:</td>
						<td id="diversity-trueskil-val" class="diversity-column right">{{ .ResultsProfile.StatsDiversity.TrueSkill }}<span id="lastEloChange" class="{{ if lt .ResultsProfile.StatsDiversity.Change 0.0 -}} red {{- else if gt .ResultsProfile.StatsDiversity.Change 0.0}} green {{- end}}">{{if gt .ResultsProfile.StatsDiversity.Change 0.0}}+{{end}}{{ if ne .ResultsProfile.StatsDiversity.Change 0.0 -}}{{- .ResultsProfile.StatsDiversity.Change -}}{{ end -}}</span></td>
					</tr>
					<tr class="profile-stats">
						<!-- First Column -->
						<td id="seeded-trueskill-sigma-label" class="seeded-column left">TrueSkill Sigma:</td>
						<td id="seeded-trueskill-sigma-val" class="seeded-column right">{{ .ResultsProfile.StatsSeeded.Sigma }}</td>
						<!-- Second Column -->
						<td id="unseeded-realavg-label" class="unseeded-column left">Unadjusted Average:</td>
						<td id="unseeded-realavg-val" class="unseeded-column right">{{ .ResultsProfile.StatsUnseeded.RealAverage }}</td>
						<!-- Third Column -->
						<td id="diversity-trueskill-sigma-label" class="diversity-column left">TrueSkill Sigma:</td>
						<td id="diversity-trueskill-sigma-val" class="diversity-column right">{{ .ResultsProfile.StatsDiversity.Sigma }}</td>
					</tr>
					<tr class="profile-stats">
						<!-- First Column -->
						<td id="seeded-numraces-label" class="seeded-column left">Total Races:</td>
						<td id="seeded-numraces-val" class="seeded-column right">{{ .ResultsProfile.StatsSeeded.NumRaces }}</td>
						<!-- Second Column -->
						<td id="unseeded-forpen-label" class="unseeded-column left">Forfeit Penalty:</td>
						<td id="unseeded-forpen-val" class="unseeded-column right">{{ .ResultsProfile.StatsUnseeded.ForfeitPenalty }}</td>
						<!-- Third Column -->
						<td id="diversity-numraces-label" class="diversity-column left">Total Races:</td>
						<td id="diversity-numraces-val" class="diversity-column right">{{ .ResultsProfile.StatsDiversity.NumRaces }}</td>
					</tr>
					<tr class="profile-stats">
						<!-- First Column -->
						<td class="seeded-column left"></td>
						<td class="seeded-column right"></td>
						<!-- Second Column -->
						<td id="unseeded-numfor-label" class="unseeded-column left">Forfeit Rate:</td>
						<td id="unseeded-numfor-val" class="unseeded-column right">{{ .ResultsProfile.StatsUnseeded.NumForfeits }}</td>
						<!-- Third Column -->
						<td class="diversity-column left"></td>
						<td class="diversity-column right"></td>
					</tr>
					<tr class="profile-stats">
						<!-- First Column -->
						<td class="seeded-column left"></td>
						<td class="seeded-column right"></td>
						<!-- Second Column -->
						<td id="unseeded-numraces-label" class="unseeded-column left">Total Races:</td>
						<td id="unseeded-numraces-val" class="unseeded-column right">{{ .ResultsProfile.StatsUnseeded.NumRaces }}</td>
						<!-- Third Column -->
						<td class="diversity-column left"></td>
						<td class="diversity-column right"></td>
					</tr>
					<tr class="profile-stats">
						<!-- First Column -->
						<td class="seeded-column left last"></td>
						<td class="seeded-column right last"></td>
						<!-- Second Column -->
						<td id="unseeded-fastest-label" class="unseeded-column left last">Fastest Time:</td>
						<td id="unseeded-fastest-val" class="unseeded-column right last">{{ .ResultsProfile.StatsUnseeded.LowestTime }}</td>
						<!-- Third Column -->
						<td class="diversity-column left last"></td>
						<td class="diversity-column right last"></td>
					</tr>
					<tr class="profile-stats">
						<th colspan="6" id="misc-stats" class="misc-stats">Miscellaneous</td>
					</tr>
					<tr class="profile-stats">
						<td colspan="6" id="misc-td-allraces-{{ .ResultsProfile.Username }}" class="misc-td-allraces">All Races: {{ .ResultsProfile.TotalRaces.Value }}</td>
					</tr>
					<tr>
						<td colspan="6" id="misc-td-wastedtime-{{ .ResultsProfile.Username }}" class="misc-td-wasted-time">Wasted Time: <span id='misc-wasted-time'>{{ .TotalTime }}</span></td>
					</tr>
				</tbody>
			</table>
		</div>
	</section>

	{{ if gt  (len .RaceResultsAll) 0 }}
		<header class="race-header">
			<h2 class="last-race-results">Last {{ len .RaceResultsAll }} Races</h2>
		</header>
		<section class="race-box">
			<div class="table-wrapper">
				<table id="race-listing-table">
					<thead>
						<tr>
							<th class="races-th-id">ID</th>
							<th class="races-th-date">Date &amp; Time</th>
							<th class="races-th-format">Format</th>
							<th class="races-th-char">Character</th>
							<th class="races-th-goal">Goal</th>
							<th class="races-th-racer">Racer</th>
							<th class="races-th-place">Place</th>
							<th class="races-th-time">Time</th>
							<th class="races-th-st-item">Start</th>
							<!-- <th class="races-th-comment">Comment</th> -->
						</tr>
					</thead>
					<tbody>
						{{ range .RaceResultsAll }}
						<tr>
							{{ $racers := len .RaceParticipants }}
							<td rowspan="{{ $racers }}" id="race-{{ .RaceID.Int64 }}" class="races-td-id"><a href="/race/{{ .RaceID.Int64 }}">{{ .RaceID.Int64 }}</a></td>
							<td rowspan="{{ $racers }}" id="racedate-{{ .RaceID.Int64 }}" class="races-td-date"> {{ .RaceDateStart.Value }}</td>
							<td rowspan="{{ $racers }}" id="raceformat-{{ .RaceID.Int64 }}" class="races-td-format">
								<!-- <span id="racesize-{{ .RaceID }}" class="race-size"><img  height="32px" width="32px" src="/public/img/size/{{ if ne .RaceSize.Int64 0 -}} solo {{- else -}} multi {{- end }}.png"  /></span> -->
								<span id="racetype-{{ .RaceID.Int64 }}" class="race-types"><img class="tooltip" title="{{ if eq .RaceType.String "0" -}} Unranked {{- else -}} Ranked {{- end }}" height="32px" width="32px" src="/public/img/types/{{ if eq .RaceType.String "0" -}} unranked {{- else -}} ranked {{- end }}{{ if ne .RaceSize.Int64 0 -}} -solo {{- end }}.png" /></span>
								<span id="raceformat-{{ .RaceID.Int64 }}" class="race-formats"><img class="tooltip" title="{{ .RaceFormat.String }}" height="32px" width="32px" src="/public/img/formats/{{ .RaceFormat.String }}.png" /></span>
							</td>
							<td rowspan="{{ $racers }}" id="racechar-{{ .RaceID.Int64 }}" class="races-td-char"><img class="tooltip" title="{{ .RaceChar.String }}" src="/public/img/characters/{{ .RaceChar.String }}.png" /></td>
							<td rowspan="{{ $racers }}" id="racegoal-{{ .RaceID.Int64 }}" class="races-td-goal"><img class="tooltip" title="{{ .RaceGoal.String }}" src="/public/img/goals/{{ .RaceGoal.String }}.png" /></td>

								{{ range $index, $results := .RaceParticipants }}
									<td class=racername><a href="../profile/{{ .RacerName.String }}">{{ .RacerName.String }}</a></td>
									{{ if eq .RacerPlace.Int64 -1 -}} <!-- They quit -->
										<td class="races-td-place">Quit</td>
										<td class="races-td-time">&nbsp;</td>
										{{ if lt .RacerStartingBuild.Int64 1 -}}
											<td class="races-td-start"><img class="tooltip" title="{{ .RacerStartingItemName }}" src="/public/img/items/{{- .RacerStartingItem.Int64 -}}.png" /></td>
										{{- else -}}
											<td class="races-td-start"><img class="tooltip" title="Build #{{- .RacerStartingBuild.Int64 -}}: {{ .RacerStartingBuildName }}"  src="/public/img/builds/build_{{- .RacerStartingBuild.Int64 -}}.png" /></td>
										{{- end -}}
									{{- else}} <!-- They finished, yes this is backwards hehe -->
										<td class="races-td-place">{{ .RacerPlace.Int64 }}</td>
										<td class="races-td-time">{{ .RacerTime.Value }}</td>
										{{ if lt .RacerStartingBuild.Int64 1 -}}
											<td class="races-td-start"><img class="tooltip" title="{{ .RacerStartingItemName }}" src="/public/img/items/{{- .RacerStartingItem.Int64 -}}.png" /></td>
										{{- else -}}
											<td class="races-td-start"><img class="tooltip" title="Build #{{- .RacerStartingBuild.Int64 -}}: {{ .RacerStartingBuildName }}"  src="/public/img/builds/build_{{- .RacerStartingBuild.Int64 -}}.png" /></td>
										{{- end -}}
									{{- end }}
									<!--
									{{ if ne .RacerComment.String "-" -}}
										<td	title="{{ .RacerComment.String }}"> {{ .RacerComment.String }}</td>
									{{- else}}
										<td>&nbsp;</td>
									{{ end }}
									-->
								<tr>
								{{ end }}
								</tr>
							</tr>
						{{- end }}
					</tbody>
				</table>
			</div>
		</section>
	{{ end }}
	{{ if gt  (len .RaceResultsRanked) 0 }}
		<header class="race-header">
			<h2 class="last-race-results">Last {{ len .RaceResultsRanked }} Ranked Unseeded Races</h2>
		</header>
		<section class="race-box">
			<div class="table-wrapper">
				<table id="race-listing-table">
					<thead>
						<tr>
							<th class="races-th-id">ID</th>
							<th class="races-th-date">Date &amp; Time</th>
							<th class="races-th-format">Format</th>
							<th class="races-th-char">Character</th>
							<th class="races-th-goal">Goal</th>
							<th class="races-th-racer">Racer</th>
							<th class="races-th-place">Place</th>
							<th class="races-th-time">Time</th>
							<th class="races-th-st-item">Start</th>
							<!-- <th class="races-th-comment">Comment</th> -->
						</tr>
					</thead>
					<tbody>
						{{ range .RaceResultsRanked }}
						<tr>
							{{ $racers := len .RaceParticipants }}
							<td rowspan="{{ $racers }}" id="race-{{ .RaceID.Int64 }}" class="races-td-id"><a href="/race/{{ .RaceID.Int64 }}">{{ .RaceID.Int64 }}</a></td>
							<td rowspan="{{ $racers }}" id="racedate-{{ .RaceID.Int64 }}" class="races-td-date"> {{ .RaceDateStart.Value }}</td>
							<td rowspan="{{ $racers }}" id="raceformat-{{ .RaceID.Int64 }}" class="races-td-format">
								<!-- <span id="racesize-{{ .RaceID.Int64 }}" class="race-size"><img  height="32px" width="32px" src="/public/img/size/{{ if ne .RaceSize.Int64 0 -}} solo {{- else -}} multi {{- end }}.png"  /></span> -->
								<span id="racetype-{{ .RaceID.Int64 }}" class="race-types"><img class="tooltip" title="{{ if eq .RaceType.String "0" -}} Unranked {{- else -}} Ranked {{- end }}" height="32px" width="32px" src="/public/img/types/{{ if eq .RaceType.String "0" -}} unranked {{- else -}} ranked {{- end }}{{ if ne .RaceSize.Int64 0 -}} -solo {{- end }}.png" /></span>
								<span id="raceformat-{{ .RaceID.Int64 }}" class="race-formats"><img class="tooltip" title="{{ .RaceFormat.String }}" height="32px" width="32px" src="/public/img/formats/{{ .RaceFormat.String }}.png" /></span>
							</td>
							<td rowspan="{{ $racers }}" id="racechar-{{ .RaceID.Int64 }}" class="races-td-char"><img class="tooltip" title="{{ .RaceChar.String }}" src="/public/img/characters/{{ .RaceChar.String }}.png" /></td>
							<td rowspan="{{ $racers }}" id="racegoal-{{ .RaceID.Int64 }}" class="races-td-goal"><img class="tooltip" title="{{ .RaceGoal.String }}" src="/public/img/goals/{{ .RaceGoal.String }}.png" /></td>

							{{ range $index, $results := .RaceParticipants }}
							<td class=racername><a href="../profile/{{ .RacerName.String }}">{{ .RacerName.String }}</a></td>
							{{ if eq .RacerPlace.Int64 -1 -}} <!-- They quit -->
								<td class="races-td-place">Quit</td>
								<td class="races-td-time">&nbsp;</td>
								{{ if lt .RacerStartingBuild.Int64 1 -}}
									<td class="races-td-start"><img class="tooltip" title="{{ .RacerStartingItemName }}" src="/public/img/items/{{- .RacerStartingItem.Int64 -}}.png" /></td>
								{{- else -}}
									<td class="races-td-start"><img class="tooltip" title="Build #{{- .RacerStartingBuild.Int64 -}}: {{ .RacerStartingBuildName }}"  src="/public/img/builds/build_{{- .RacerStartingBuild.Int64 -}}.png" /></td>
								{{- end -}}
							{{- else}} <!-- They finished, yes this is backwards hehe -->
								<td class="races-td-place">{{ .RacerPlace.Int64 }}</td>
								<td class="races-td-time">{{ .RacerTime.Value }}</td>
								{{ if lt .RacerStartingBuild.Int64 1 -}}
									<td class="races-td-start"><img class="tooltip" title="{{ .RacerStartingItemName }}" src="/public/img/items/{{- .RacerStartingItem.Int64 -}}.png" /></td>
								{{- else -}}
									<td class="races-td-start"><img class="tooltip" title="Build #{{- .RacerStartingBuild.Int64 -}}: {{ .RacerStartingBuildName }}"  src="/public/img/builds/build_{{- .RacerStartingBuild.Int64 -}}.png" /></td>
								{{- end -}}
							{{- end }}
							<!--
							{{ if ne .RacerComment.String "-" -}}
								<td	title="{{ .RacerComment.String }}"> {{ .RacerComment.String }}</td>
							{{- else}}
								<td>&nbsp;</td>
							{{ end }}
							-->
							<tr>
							{{ end }}
							</tr>
						</tr>
					{{- end }}
				</tbody>
			</table>
		</div>
	</section>
{{ end }}
</section>
{{end}}
