{{define "content"}}
<!-- Main -->
<section id="race-main" class="container">
	<header class=race>
		<h2>Race Results for #{{ (index .RaceResults 0).RaceID }}</h2>
		<p></p>

	</header>

	<section class="race-box">
		<div class="table-wrapper">
			<table  border=1 id="race-listing-table">
				<thead>
					<tr>
						<th class="races-th-id">ID</th>
						<th class="races-th-date">Date &amp; Time</th>
						<th class="races-th-format">Format</th>
						<th class="races-th-char">Character</th>
						<th class="races-th-goal">Goal</th>
						<th class="races-th-racer">Racer</th>
						<th class="races-th-place">Place</th>
						<th class="races-th-time">Time</th>
						<th class="races-th-st-item">Start</th>
						<!-- <th class="races-th-comment">Comment</th> -->
					</tr>
				</thead>
				<tfoot>
				</tfoot>
				<tbody>
					{{ range .RaceResults }}
					<tr>
						{{ $racers := len .RaceParticipants }}
						<td rowspan="{{ $racers }}" id="race-{{ .RaceID }}" class="races-td-id"><a href="/race/{{ .RaceID }}">{{ .RaceID }}</a></td>
						<td rowspan="{{ $racers }}" id="racedate-{{ .RaceID }}" class="races-td-date"> {{ .RaceDateStart }}</td>
						<td rowspan="{{ $racers }}" id="raceformat-{{ .RaceID }}" class="races-td-format">
							<!-- <span id="racesize-{{ .RaceID }}" class="race-size"><img  height="32px" width="32px" src="/public/img/size/{{ if ne .RaceSize 0 -}} solo {{- else -}} multi {{- end }}.png"  /></span> -->
							<span id="racetype-{{ .RaceID }}" class="race-types"><img  height="32px" width="32px" src="/public/img/types/{{ if eq .RaceType "0" -}} unranked {{- else -}} ranked {{- end }}{{ if ne .RaceSize 0 -}} -solo {{- end }}.png" /></span>
							<span id="raceformat-{{ .RaceID }}" class="race-formats"><img  height="32px" width="32px" src="/public/img/formats/{{ .RaceFormat }}.png" /></span>
						</td>
						<td rowspan="{{ $racers }}" id="racechar-{{ .RaceID }}" class="races-td-char"><img src="/public/img/characters/{{ .RaceChar }}.png" /></td>
						<td rowspan="{{ $racers }}" id="racegoal-{{ .RaceID }}" class="races-td-goal"><img src="/public/img/goals/{{ .RaceGoal }}.png" /></td>

							{{ range $index, $results := .RaceParticipants }}
								<td class=racername><a href="../profile/{{ .RacerName }}">{{ .RacerName }}</a></td>
								{{ if eq .RacerPlace -1 -}} <!-- They quit -->
									<td class="races-td-place">Quit</td>
									<td class="races-td-time">&nbsp;</td>
									{{ if lt .RacerStartingBuild 1 -}}
										<td class="races-td-start"><img src="/public/img/items/{{- .RacerStartingItem -}}.png" /></td>
									{{- else -}}
										<td class="races-td-start"><img src="/public/img/builds/build_{{- .RacerStartingBuild -}}.png" /></td>
									{{- end -}}
								{{- else}} <!-- They finished, yes this is backwards hehe -->
									<td class="races-td-place">{{ .RacerPlace }}</td>
									<td class="races-td-time">{{ .RacerTime }}</td>
									{{ if lt .RacerStartingBuild 1 -}}
										<td class="races-td-start"><img src="/public/img/items/{{- .RacerStartingItem -}}.png" /></td>
									{{- else -}}
										<td class="races-td-start"><img src="/public/img/builds/build_{{- .RacerStartingBuild -}}.png" /></td>
									{{- end -}}
								{{- end }}
								<!--
								{{ if ne .RacerComment "-" -}}
									<td	title="{{ .RacerComment }}"> {{ .RacerComment }}</td>
								{{- else}}
									<td>&nbsp;</td>
								{{ end }}
								-->
							<tr>
							{{ end }}
							</tr>
						</tr>
					{{- end }}
				</tbody>
			</table>
		</div>
	</section>
</section>
{{end}}
