{{define "content"}}
<!-- Main -->
<section id="race-main" class="container">
	<header class=race>
		<h2>Race Listing</h2>
		<p>The latest completed races</p>
	</header>

	<div id="race-listing-buttons" class="row">
		{{ if ge .PreviousPage 1 -}}
			<div class="3u 12u">
				<a href="../races" class="button fit">&lt;&lt;</a>
			</div>
			<div class="3u 12u">
				<a href="../races/{{ .PreviousPage }}" class="button fit">&lt;</a>
			</div>
		{{- else }}
			<div class="3u 12u">
				&nbsp;
			</div>
			<div class="3u 12u">
				&nbsp;
			</div>
		{{- end }}
		{{ if le .NextPage .TotalPages }}
			<div class="3u 12u">
				<a href="../races/{{ .NextPage }}" class="button fit">&gt;</a>
			</div>
			<div class="3u 12u">
				<a href="../races/{{ .TotalPages }}" class="button fit">&gt;&gt;</a>
			</div>
		{{- else }}
			<div class="3u 12u">
				&nbsp;
			</div>
			<div class="3u 12u">
				&nbsp;
			</div>
		{{- end }}
	</div>
	<br />

	<section class="race-box">
		<div class="table-wrapper">
			<table id="race-listing-table">
				<thead>
					<tr>
						<th class="races-th-id">ID</th>
						<th class="races-th-date">Date &amp; Time</th>
						<th class="races-th-format">Format</th>
						<th class="races-th-char">Character</th>
						<th class="races-th-goal">Goal</th>
						<th class="races-th-racer">Racer</th>
						<th class="races-th-place">Place</th>
						<th class="races-th-time">Time</th>
						<th class="races-th-st-item">Start</th>
						<!-- <th class="races-th-comment">Comment</th> -->
					</tr>
				</thead>
				<tfoot>
					<tr>
						<td colspan="100%">
							Total Races: {{ .TotalRaceCount }}
						</td>
					</tr>
				</tfoot>
				<tbody>
					{{ range .ResultsRaces }}
						<tr>
							{{ $racers := len .RaceParticipants }}
							<td rowspan="{{ $racers }}" id="race-{{ .RaceID.Int64 }}" class="races-td-id"><a href="/race/{{ .RaceID.Int64 }}">{{ .RaceID.Int64 }}</a></td>
							<td rowspan="{{ $racers }}" id="racedate-{{ .RaceID.Int64 }}" class="races-td-date"> {{ .RaceDateStart.Value }}</td>
							<td rowspan="{{ $racers }}" id="raceformat-{{ .RaceID.Int64 }}" class="races-td-format">
								<!-- <span id="racesize-{{ .RaceID.Int64 }}" class="race-size"><img  height="32px" width="32px" src="/public/img/size/{{ if ne .RaceSize.Int64 0 -}} solo {{- else -}} multi {{- end }}.png"  /></span> -->
								<span id="racetype-{{ .RaceID.Int64 }}" class="race-types"><img  height="32px" width="32px" src="/public/img/types/{{ if eq .RaceType.String "0" -}} unranked {{- else -}} ranked {{- end }}{{ if ne .RaceSize.Int64 0 -}} -solo {{- end }}.png" /></span>
								<span id="raceformat-{{ .RaceID.Int64 }}" class="race-formats"><img  height="32px" width="32px" src="/public/img/formats/{{ .RaceFormat.String }}.png" /></span>
							</td>
							<td rowspan="{{ $racers }}" id="racechar-{{ .RaceID }}" class="races-td-char"><img src="/public/img/characters/{{ .RaceChar.String }}.png" /></td>
							<td rowspan="{{ $racers }}" id="racegoal-{{ .RaceID }}" class="races-td-goal"><img src="/public/img/goals/{{ .RaceGoal.String }}.png" /></td>

							{{ range $index, $results := .RaceParticipants }}
								<td class=racername>
									<a href="../profile/{{ .RacerName.String }}">{{ .RacerName.String }}</a>
								</td>

								{{ if eq .RacerPlace.Int64 -1 -}} <!-- They quit -->
									<td class="races-td-place">Quit</td>
									<td class="races-td-time">&nbsp;</td>
									{{ if lt .RacerStartingBuild.Int64 1 -}}
										<td class="races-td-start"><img src="/public/img/items/{{- .RacerStartingItem.Int64 -}}.png" /></td>
									{{- else -}}
										<td class="races-td-start"><img src="/public/img/builds/build_{{- .RacerStartingBuild.Int64 -}}.png" /></td>
									{{- end -}}
								{{- else}} <!-- They finished, yes this is backwards hehe -->
									<td class="races-td-place">{{ .RacerPlace.Int64 }}</td>
									<td class="races-td-time">{{ .RacerTime.Value }}</td>
									{{ if lt .RacerStartingBuild.Int64 1 -}}
										<td class="races-td-start"><img src="/public/img/items/{{- .RacerStartingItem.Int64 -}}.png" /></td>
									{{- else -}}
										<td class="races-td-start"><img src="/public/img/builds/build_{{- .RacerStartingBuild.Int64 -}}.png" /></td>
									{{- end -}}
								{{- end }}
								<!-- {{ if ne .RacerComment.String "-" -}}
									<td	title="{{ .RacerComment.String }}" class="races-td-comment"> {{ .RacerComment.String }}</td>
								{{- else}}
									<td>&nbsp;</td>
								{{ end }} -->
							<tr>
							{{ end }}
							</tr>
						</tr>
					{{- end }}
				</tbody>
			</table>
		</div>
	</section>
	<div id="race-listing-buttons" class="row">
		{{ if ge .PreviousPage 1 -}}
			<div class="3u 12u">
				<a href="../races" class="button fit">&lt;&lt;</a>
			</div>
			<div class="3u 12u">
				<a href="../races/{{ .PreviousPage }}" class="button fit">&lt;</a>
			</div>
		{{- else }}
			<div class="3u 12u">
				&nbsp;
			</div>
			<div class="3u 12u">
				&nbsp;
			</div>
		{{- end }}
		{{ if le .NextPage .TotalPages }}
			<div class="3u 12u">
				<a href="../races/{{ .NextPage }}" class="button fit">&gt;</a>
			</div>
			<div class="3u 12u">
				<a href="../races/{{ .TotalPages }}" class="button fit">&gt;&gt;</a>
			</div>
		{{- else }}
			<div class="3u 12u">
				&nbsp;
			</div>
			<div class="3u 12u">
				&nbsp;
			</div>
		{{- end }}
	</div>
</section>
{{end}}
