{{define "content"}}
<!-- Main -->
<section id="race-main" class="container">
	<header class=race>
		<h2>Race Listing</h2>
		<p>The latest completed races</p>
	</header>

	<div id="race-listing-buttons" class="row">
		{{ if ge .PreviousPage 1 -}}
			<div class="3u 12u">
				<a href="../races" class="button fit">&lt;&lt;</a>
			</div>
			<div class="3u 12u">
				<a href="../races/{{ .PreviousPage }}" class="button fit">&lt;</a>
			</div>
		{{- else }}
			<div class="3u 12u">
				&nbsp;
			</div>
			<div class="3u 12u">
				&nbsp;
			</div>
		{{- end }}
		{{ if le .NextPage .TotalPages }}
			<div class="3u 12u">
				<a href="../races/{{ .NextPage }}" class="button fit">&gt;</a>
			</div>
			<div class="3u 12u">
				<a href="../races/{{ .TotalPages }}" class="button fit">&gt;&gt;</a>
			</div>
		{{- else }}
			<div class="3u 12u">
				&nbsp;
			</div>
			<div class="3u 12u">
				&nbsp;
			</div>
		{{- end }}
	</div>
	<br />

	<section class="race-box">
		<div class="table-wrapper">
			<table id="race-listing-table">
				<thead>
					<tr>
						<th>ID</th>
						<th>Date &amp; Time</th>
						<th>Ranked</th>
						<th>Format</th>
						<th>Character</th>
						<th>Goal</th>
						<th>Racer</th>
						<th>Place</th>
						<th>Time</th>
						<th>Comment</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<td colspan="100%">
							Total Races: {{ .TotalRaceCount }}
						</td>
					</tr>
				</tfoot>
				<tbody>
					{{ range .ResultsRaces }}
						<tr>
							{{ $racers := len .RaceParticipants }}
							<td rowspan="{{ $racers }}"><a href="/race/{{ .RaceID }}">{{ .RaceID }}</a></td>
							<td id="racedate" rowspan="{{ $racers }}"> {{ .RaceDateStart }}</td>
							<td rowspan="{{ $racers }}"><img src="/public/img/ranked/{{ if eq .RaceType "0" -}} unranked {{- else -}} ranked {{- end }}.png" title="{{ if eq .RaceType "0" -}} Unranked {{- else -}} Ranked {{- end }}" /></td>
							<td rowspan="{{ $racers }}"><img src="/public/img/formats/{{ .RaceFormat }}.png" title="{{ .RaceFormat }}" /></td>
							<td rowspan="{{ $racers }}"><img src="/public/img/characters/{{ .RaceChar }}.png" title="{{ .RaceChar }}" /></td>
							<td rowspan="{{ $racers }}"><img src="/public/img/goals/{{ .RaceGoal }}.png" title="{{ .RaceGoal }}" /></td>

							{{ range $index, $results := .RaceParticipants }}
								<td class=racername>
									<a href="../profile/{{ .RacerName }}">{{ .RacerName }}</a>
								</td>
								{{ if eq .RacerPlace -1 -}}
									<td>Quit</td>
									<td>&nbsp;</td>
								{{- else}}
									<td>{{ .RacerPlace }}</td>
									<td>{{ .RacerTime }}</td>
								{{- end }}
								{{ if ne .RacerComment "-" -}}
									<td	title="{{ .RacerComment }}"> {{ .RacerComment }}</td>
								{{- else}}
									<td>&nbsp;</td>
								{{ end }}
							<tr>
							{{ end }}
							</tr>
						</tr>
					{{- end }}
				</tbody>
			</table>
		</div>
	</section>
	<div id="race-listing-buttons" class="row">
		{{ if ge .PreviousPage 1 -}}
			<div class="3u 12u">
				<a href="../races" class="button fit">&lt;&lt;</a>
			</div>
			<div class="3u 12u">
				<a href="../races/{{ .PreviousPage }}" class="button fit">&lt;</a>
			</div>
		{{- else }}
			<div class="3u 12u">
				&nbsp;
			</div>
			<div class="3u 12u">
				&nbsp;
			</div>
		{{- end }}
		{{ if le .NextPage .TotalPages }}
			<div class="3u 12u">
				<a href="../races/{{ .NextPage }}" class="button fit">&gt;</a>
			</div>
			<div class="3u 12u">
				<a href="../races/{{ .TotalPages }}" class="button fit">&gt;&gt;</a>
			</div>
		{{- else }}
			<div class="3u 12u">
				&nbsp;
			</div>
			<div class="3u 12u">
				&nbsp;
			</div>
		{{- end }}
	</div>
</section>
{{end}}
