{{ define "content" }}
<section id="main" class="container">
	{{ if .CurrentTourn }}
	<div class="12u">
		<section class="small-box" id="prior-tournaments-banner">
			<a href="#all-prior-tournaments">Prior Tournaments</a>
		</section>
	</div>
	<section class="box">
		<header>
			<h2><center>Current Isaac Tournaments</center></h2>
		</header>
		<div class="table-wrapper">
			<table class="alt" id="table-tournament">
				<thead>
					<tr>
						<th id="th-tournname" class="th-tournname">Tournament</th>
						<th id="th-racer1" class="th-racer">Racer #1</th>
						<th id="th-racer2" class="th-racer">Racer #2</th>
						<!--<th id="th-bracket" class="th-bracket">Bracket Round</th>-->
						<th id="th-startdate" class="th-startdate">Scheduled Time</th>
						<th id="th-caster" class="th-caster">Caster</th>
					</tr>
				</thead>
				<tfoot>
				</tfoot>
				<tbody>
					{{ range .TournamentRaces }}
					<tr id="tr-race-{{ .RaceID.Int64 }}" class="tr-race">
						<td id="td-tournname-{{ .RaceID.Int64 }}" class="td-tournname"><a href="http://challonge.com/{{ .TournamentID.String }}" target="_blank">{{ .TournamentName.String }}</td>
						<td id="td-racer1-{{ .RaceID.Int64 }}" class="td-racer">{{ .Racer1.String }}</td>
						<td id="td-racer2-{{ .RaceID.Int64 }}" class="td-racer">{{ .Racer2.String }}</td>
						<!--<td id="td-bracket-{{ .RaceID.Int64 }}" class="td-racer">Round #{{ .TournamentRound.Int64 }}</td>-->
						<td id="td-startdate-{{ .RaceID.Int64 }}" class="td-startdate">{{ .RaceDateTime.Time }}</td>
						{{ if .RaceCaster.String }}
							<td id="td-caster-{{ .RaceID.Int64 }}" class="td-caster"><a href="https://twitch.tv/{{ .RaceCaster.String }}" target="_blank">{{ .RaceCaster.String }} <span style="vertical-align: middle;"><img height="16px" width="16px" src="/public/img/Glitch_Purple_RGB.png"></a></span></td>
						{{ else }}
							<td id="td-caster-{{ .RaceID.Int64 }}" class="td-caster"><a href="https://kadgar.net/live/{{ .Racer1.String }}/{{ .Racer2.String }}" target="_blank">Kadgar</a></td>
						{{ end }}
					</tr>
					{{ end }}
				</tbody>
			</table>
		</div>
	{{ else }}
		<div class="12u">
			<section id="no-tournaments" class="small-box">
				There are no tournaments currently being tracked.
			</section>
		</div>
	{{ end }}

	<div id="all-prior-tournaments"></div>
	<section id="section-all-tournaments" class="box">
		<header>
			<h2><center>Prior Isaac Tournaments</center></h2>
		</header>
		<div class="table-wrapper">
			<table class="alt" id="table-all-tournaments">
				<thead>
					<th id="th-all-tournaments-name" class="th-all-tournaments-name">Name</th>
					<th id="th-all-tournaments-info" class="th-all-tournaments-info">Info</th>
				</thead>
				<tbody>
					{{ range $index, $element := .AllTournaments }}
					<tr id="tr-all-tournaments-{{ $index }}" class="tr-all-tournaments">
						<td id="td-all-tournaments-name-{{ $index }}" class="td-all-tournaments-name">
							<a href="{{ .ChallongeURL }}" target="_blank">{{ .Name }}</a>
						</td>
						<td id="td-all-tournaments-info-{{ $index }}" class="td-all-tournaments-info">
							<div id="div-date-{{ $index }}" class="div-all-tournaments-date">Start Date: {{ .Date }}</div>
							<div id="div-organizer-{{ $index }}" class="div-all-tournaments-organizer" >Organizer: {{ .Organizer }}</div>
							<div id="div-notability-{{ $index }}" class="div-all-tournaments-notability" >Notability: {{ .Notability }}</div>
							<div id="div-ruleset-{{ $index }}" class="div-all-tournaments-ruleset" >Ruleset: {{ .Ruleset }}</div>
							<div id="div-description-{{ $index }}" class="div-all-tournaments-description" >Description: {{ .Description }}</div>
						</td>
					</tr>
					{{ end }}
				</tbody>
			</table>
		<center>All data and analysis can be found <a href="https://github.com/Krakenos/BoIR-trueskill">here</a> thanks to Krakenos</center>
		</div>
	</section>
</section>
{{ end }}
