{{ define "content" }}
<section id="main" class="container">
	<section class="small-box">
		<header class="tournament">
			<h2>{{ .TournamentInfo.TournamentName }}</h2>
			<div>Hosted By {{ .TournamentInfo.TournamentHost }}</div>
			<div>From {{ .TournamentInfo.TournamentStartDate }} to {{ .TournamentInfo.TournamentEndDate }}<div>
		</header>
	</section>
	<section class="small-box">
		Click <a href="https://challonge.com/{{ .TournamentInfos.TournamentName }}">here</a> to view the bracket.
	</section>
	<section class="box">
		<div class="table-wrapper">
			<table class="alt" id="table-tournament-{{ .TournamentInfos.TournamentName }}">
				<thead>
					<tr>
						<th id="th-racer1" class="th-racer">Racer #1</th>
						<th id="th-racer2" class="th-racer">Racer #2</th>
						<th id="th-startdate" class="th-startdate">Scheduled Time</th>
						<th id="th-caster" class="th-caster">Cast</th>
					</tr>
				</thead>
				<tfoot>
				</tfoot>
				<tbody>
					{{ range .TournamentRaces }}
					<tr id="tr-race-{{ .RaceID.Int64 }}" class="tr-race">
						<td id="td-racer1-{{ .RaceID.Int64 }}" class="td-racer">{{ .Racer1.String }}</td>
						<td id="td-racer2-{{ .RaceID.Int64 }}" class="td-racer">{{ .Racer2.String }}</td>
						<td id="td-startdate-{{ .RaceID.Int64 }}" class="td-startdate">{{ .RaceDateTime.Time }}</td>
						<td id="td-caster-{{ .RaceID.Int64 }}" class="td-caster">{{ if .RaceCaster.String }}<a href="https://twitch.tv/{{ .RaceCaster.String }}"><img height="16px" width="16px" src="/public/img/Glitch_Purple_RGB.png"></a>{{ end }}</td>
					</tr>
					{{ end }}
				</tbody>
			</table>
		</div>
	</section>
</section>
{{ end }}
